@charset "Shift_JIS";
/* !HTML5 mixin
---------------------------------------------------------- */
/* !HTML5 elements
---------------------------------------------------------- */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
	display: block;
}
/* ------------------------------------------------------- */
/* !Reseting CSS
---------------------------------------------------------- */
body, div, pre, p, blockquote, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, th, td, figure { margin: 0; padding: 0;}
input, textarea { margin: 0; font-size: 100%;}
label { cursor: pointer;}
table { border-collapse: collapse; border-spacing: 0; font-size: 100%;}
fieldset, img { border: 0; }
img { vertical-align: top;}
address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: normal; }
ol, ul { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
q:after, q:before { content: ''; }
abbr, acronym { border: 0; }

/* ------------------------------------------------------- */
/* !Setting
---------------------------------------------------------- */
body {
	font-family: Arial, Helvetica, Verdana, 'Hiragino Kaku Gothic ProN' , '�q���M�m�p�S ProN' , Meiryo , ���C���I , "�l�r �o�S�V�b�N" , "MS PGothic", sans-serif ; /* for legacy brawser to modern brawser */
	font-size: 16px;
	-webkit-text-size-adjust: 100%;
	line-height: 1.5;
	color: #333;
}
body .rwd_module_md_common {
	font-size: 14px;
}
@media all and (-ms-high-contrast:none){
	body {
		font-family: ���C���I , Meiryo , Arial, Helvetica, Verdana, 'Hiragino Kaku Gothic ProN' , '�q���M�m�p�S ProN' , "�l�r �o�S�V�b�N" , "MS PGothic", sans-serif ; /* IE11 */
	}
}
body.switch_m { font-size: 16px; }
body.switch_s { font-size: 12px; }
body.switch_l { font-size: 20px; }

@media only screen and (max-width: 640px) {
	body,
	body.switch_m,body.switch_s,body.switch_l { font-size: 16px; }
}

/* ------------------------------------------------------- */
/* !micro Clearfix
---------------------------------------------------------- */
.cf:before,
.cf:after { content: ''; display: table;}
.cf:after { clear: both;}
/*IE6,7
.cf { *zoom: 1;}*/

/* !Layout
---------------------------------------------------------- */
* { box-sizing: border-box; }
.rwd_module_md_common * {
	box-sizing: content-box;
}
a { color: #00c; text-decoration: underline; }
a:visited { color: #639; }
a:hover,
a:active,
a:focus { text-decoration: none; }

sup { font-size: 78%; vertical-align: top; }
sub { font-size: 78%; vertical-align: baseline; }
/* !utility
---------------------------------------------------------- */


/* !container
---------------------------------------------------------- */
.container {}
@media only screen and (min-width: 641px) {
	.container {
		min-width: 950px;
	}
}

/* !container
---------------------------------------------------------- */
.mod-guard, .fire-guard { font-size: 12px;}
@media only screen and (max-width: 640px) {
	.mod-guard {
		background: #f2f5f9;
		border: 1px solid #ddd;
		padding: 12px;
	}
}

/* !wrap-btn-information
---------------------------------------------------------- */
.wrap-btn-information {
	position:absolute;
	right: 0;
	top:0;
	width: 230px;
	background-color:#00a496;
	text-align:center;
	color:#fff;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-khtml-border-radius: 9px;
	border-radius: 9px;
}
.wrap-btn-information.sure {
	background-color:#0a308f;
}
.btn-information01 {
	padding: 10px 10px 4px;
	height: 55px;
}
.btn-information01:after {
	top: 99%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 164, 150, 0);
	border-top-color: #00a496;
	border-width: 11px;
	margin-left: -11px;
}
.sure .btn-information01:after {
	top: 99%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(10, 48, 143, 0);
	border-top-color: #0a308f;
	border-width: 11px;
	margin-left: -11px;
}
.btn-information01 .txt {
	margin-bottom: 3px;
	font-weight: bold;
	font-size: 16px;
	line-height: 1;
	letter-spacing: 0.07em;
}
.btn-information01 .edit {
	padding-bottom: 6px;
	line-height: 1;
}
.btn-information01 .edit a {
	display:block;
	color:#fff;
	line-height: 1;
}
.btn-information01 .edit a span {
	position:relative;
	margin-left: 10px;
	display:inline-block;
	font-size: 12px;
	border-bottom:1px solid #fff;
}
.btn-information01 .edit a:hover span {
	border-bottom: none;
}
.btn-information01 .edit a span:before {
	position: absolute;
	content: '';
	top: 50%;
	left: -10px;
	width: 5px;
	height: 10px;
	margin-top: -4px;
	background: url(/share/image/ico_sprite01.webp);
	background-size: 500px 500px;
	background-position: 0 -420px;
	background-repeat: no-repeat;
	background: url(/share/image/ico_arrow06.png) 0 0 \9;
}
/* !topicpath
---------------------------------------------------------- */
.pathid-area {
	overflow: hidden;
	padding: 10px 5px 15px;
	font-size: 12px;
	width: 100%; }
@media only screen and (max-width: 640px) {
	.pathid-area {
		padding: 10px;
	}
}
.pathid-area .box-topicpath {
	overflow: hidden; }
.pathid-area .idname {
	float: right; }
@media only screen and (max-width: 640px) {
	.pathid-area .idname {
		display: none; } }

.topicpath { overflow: hidden;}
.topicpath li {
	position: relative;
	float: left;
}
.topicpath li:before {
	content: '>';
	width: 1em;
	padding: 0 0.5em;
}
.topicpath li:first-child:before { display: none; }
.topicpath li a,
.topicpath li span { display: inline-block; }
.topicpath li a {
	text-decoration: none;
	color: #999;
	font-weight: bold;
}

/* !content
---------------------------------------------------------- */
.content {
	width: 950px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}
.content:before,
.content:after { content: ''; display: table; }
.content:after { clear: both; }
@media only screen and (max-width: 640px) {
	.content {
		width: 100%;
		padding-top: 61px;
	}
}

.main-content {
	float: left;
	width: 670px;
}
.main-content.w-full {
	float: none;
	width: 100%;
}
@media only screen and (max-width: 640px) {
	.main-content {
		float: none;
		width: 100%;
		padding: 0 10px 10px;
	}
}

.sub-content {
	float: right;
	width: 255px;
	padding: 10px;
}
@media only screen and (max-width: 640px) {
	.sub-content {
		float: none;
		width: 100%;
	}
}
/* sidebar old */
.sub-content.type00 {
	background: #f4f4f4;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #e2e2e2;
}
@media only screen and (max-width: 640px) {
	.sub-content.type00 {
		-webkit-border-radius: 0;
		border-radius: 0;
		border: none;
		background: #ddd;
	}
}
.sub-content.type00 .box-estimate {
	background-color: #fff;
	padding: 15px;
	margin-bottom: 10px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #e2e2e2;
	-webkit-box-shadow: rgba(0, 2, 34, 0.35) 0px 1px 0px 0px; }
@media only screen and (max-width: 640px) {
	.sub-content.type00 .box-estimate {
		display: none; }
}
/* ���ς��� */
.sub-content.type00 .box-estimate .title { margin-left: -8px; }
.sub-content.type00 .box-estimate .btn { margin-bottom: 10px; }
.sub-content.type00 .box-estimate .list-estimate01 li {
	position: relative;
	padding-left: 10px;
	font-size: 75%;
}
.sub-content.type00 .box-estimate .list-estimate01 li:before {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -3px;
	content: '';
	background: url(/share/image/blt_arrow_01.gif);
	-webkit-background-size: 5px 7px;
	background-size: 5px 7px;
	width: 5px;
	height: 7px;
}
/* �|�C���g */
.sub-content.type00 .list-pickuppoint01 {
	overflow: hidden;
	margin-bottom: 6px;
}
@media only screen and (max-width: 640px) {
	.sub-content.type00 .list-pickuppoint01 {
		display: none;
	}
}
.sub-content.type00 .list-pickuppoint01 li {
	float: left;
	margin: 0 2px 4px 0;
}

.sub-content.type00 .sub-lnavi01 { margin-bottom: 10px; }
@media only screen and (max-width: 640px) {
	.sub-content.type00 .sub-lnavi01 { display: none; }
}
.sub-content.type00 .sub-lnavi01 .title {
	width: 232px;
	height: 36px;
	background: url(/share/image/auto/title_nl_auto_guide.gif);
	background-size: 232px 36px;
}
.sub-content.type00 .sub-lnavi01 .title a {
	display: block;
	height: 36px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

.sub-content.type00 .sub-lnavi01 .lnavi01 {
	border-right: #dad9d9 1px solid;
	border-left: #dad9d9 1px solid;
}
.sub-content.type00 .sub-lnavi01 .lnavi01 > li {}
.sub-content.type00 .sub-lnavi01 .lnavi01 > li > a {
	position: relative;
	display: block;
	border-bottom: #dad9d9 1px solid;
	background-color: #fff;
	padding: 8px 10px 6px 25px;
	text-decoration: none;
	font-weight: bold;
	font-size: 103%;
}
.sub-content.type00 .sub-lnavi01 .lnavi01 > li > a:before {
	position: absolute;
	top: 50%;
	left: 10px;
	margin-top: -11px;
	content: '';
	background: url(/share/image/auto/blt_arrow_03.gif);
	-webkit-background-size: 8px 22px;
	background-size: 8px 22px;
	width: 8px;
	height: 22px;
}
.sub-content.type00 .sub-lnavi01 .lnavi01 > li > a:hover {
	background-color: #d3e7ff; }
.sub-content.type00 .sub-lnavi01 .lnavi01 > li > a:hover:before {
	background: url(/share/image/auto/blt_arrow_05.gif);
	-webkit-background-size: 8px 22px; }
.sub-content.type00 .sub-lnavi01 .lnavi01 > li.current > a {
	background-color: #d3e7ff; }
.sub-content.type00 .sub-lnavi01 .lnavi01 > li.current > a:before {
	background: url(/share/image/auto/blt_arrow_04.gif);
	-webkit-background-size: 8px 22px; }
.sub-content.type00 .sub-lnavi01 .lnavi01 li .child {
	display: none; }
.sub-content.type00 .sub-lnavi01 .lnavi01 li .child li {
	border-bottom: #dad9d9 1px solid; }
.sub-content.type00 .sub-lnavi01 .lnavi01 li .child li a {
	position: relative;
	display: block;
	background-color: #fff;
	padding: 8px 10px 6px 33px;
	font-size: 75%; }
.sub-content.type00 .sub-lnavi01 .lnavi01 li .child li a:hover {
	background-color: #d3e7ff; }
.sub-content.type00 .sub-lnavi01 .lnavi01 li .child li a:before {
	position: absolute;
	top: 50%;
	left: 22px;
	margin-top: -3px;
	content: '';
	background: url(/share/image/blt_arrow_01.gif);
	-webkit-background-size: 5px 7px;
	background-size: 5px 7px;
	width: 5px;
	height: 7px; }
.sub-content.type00 .sub-lnavi01 .lnavi01 li.current .child {
	display: block; }
@media only screen and (max-width: 640px) {
	.sub-content.type00 .sub-faq01 {
		display: none; } }
.sub-content.type00 .sub-faq01 .title {
	width: 232px;
	height: 36px;
	background: url(/share/image/auto/title_faq_02.gif);
	-webkit-background-size: 232px 36px;
	background-size: 232px 36px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden; }
.sub-content.type00 .sub-faq01 .list-faq01 {
	background-color: #fff;
	padding: 10px;
	margin-bottom: 10px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border: 1px solid #e2e2e2;
	-webkit-box-shadow: rgba(0, 2, 34, 0.35) 0px 1px 0px 0px; }
.sub-content.type00 .sub-faq01 .list-faq01 li {
	position: relative;
	padding-left: 16px;
	font-size: 75%; }
.sub-content.type00 .sub-faq01 .list-faq01 li:before {
	position: absolute;
	top: 0.5em;
	left: 0;
	content: '';
	background: url(/share/image/blt_arrow_01.gif);
	-webkit-background-size: 5px 7px;
	background-size: 5px 7px;
	width: 5px;
	height: 7px; }
.sub-content.type00 .sub-contact01 {
	margin-bottom: 10px; }
@media only screen and (max-width: 640px) {
	.sub-content.type00 .sub-contact01 {
		display: none; } }
.sub-content.type00 .sub-contact01 > .title {
	width: 232px;
	height: 35px;
	background: url(/share/image/auto/title_inquiry_02.gif);
	-webkit-background-size: 232px 35px;
	background-size: 232px 35px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden; }
.sub-content.type00 .sub-contact01 .innerbox {
	background-color: #fff;
	background-color: #fff;
	padding: 10px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-right: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	border-left: 1px solid #e2e2e2;
	-webkit-box-shadow: rgba(0, 2, 34, 0.35) 0px 1px 0px 0px; }
.sub-content.type00 .sub-contact01 .innerbox .detail {
	text-align: center;
	border-bottom: 1px solid #dfdede;
	padding: 0 0 15px;
	margin-bottom: 15px; }
.sub-content.type00 .sub-contact01 .innerbox .detail:last-child {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0; }
.sub-content.type00 .sub-contact01 .innerbox .detail .title,
.sub-content.type00 .sub-contact01 .innerbox .detail .teltitle {
	font-size: 75%;
	margin-bottom: 8px; }
.sub-content.type00 .sub-contact01 .innerbox .detail .telnumber {
	font-weight: bold;
	font-size: 106%;
	line-height: 1.0; }
.sub-content.type00 .sub-contact01 .innerbox .detail .telnumber span {
	font-size: 88%%; }
.sub-content.type00 .sub-contact01 .innerbox .detail .link {
	margin-bottom: 7px;
	font-size: 75%; }
.sub-content.type00 .sub-contact01 .innerbox .detail .linkform {
	font-size: 75%; }
.sub-content.type00 .sub-contact01 .innerbox .detail .linkform a {
	position: relative;
	padding-left: 23px; }
.sub-content.type00 .sub-contact01 .innerbox .detail .linkform a:before {
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	margin-top: -6px;
	background: url(/share/image/icn_mail_01.gif);
	background-size: 17px 12px;
	width: 17px;
	height: 12px; }
.sub-content.type00 .sub-lnavi02 .title {
	padding: 12px 15px 10px;
	background: url(/share/image/bg_lnavi_dot01.png) top left repeat;
	background-size: 3px;
	border-left: 6px solid #2636aa;
	color: #2636aa;
	font-weight: bold;
	font-size: 88%;
}

.sub-content.type00 .sub-lnavi02 .lnavi02 {}
.sub-content.type00 .sub-lnavi02 .lnavi02 li { border-top: 1px solid #ddd; font-size: 81%;}
.sub-content.type00 .sub-lnavi02 .lnavi02 li a {
	display: block;
	padding: 13px 14px;
	background-color: #fff;
}
.sub-content.type00 .sub-lnavi02 .lnavi02 li a span {
	position: relative;
	display: block;
	padding-left: 20px;
}
.sub-content.type00 .sub-lnavi02 .lnavi02 li a span:before {
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	margin-top: -4px;
	background: url(/share/image/ico_sprite01.webp);
	background-size: 250px 250px;
	background-position: 0 -220px;
	background: url(/share/image/ico_arrow03_ie8.png) top left \9;
	width: 5px;
	height: 9px;
}
.sub-content.type00 .sub-lnavi02 .lnavi02 li.current a { background-color: #35b0a3; color: #fff;}
.sub-content.type00 .sub-lnavi02 .lnavi02 li.current a span:before {
	background: url(/share/image/ico_sprite01.webp);
	background-size: 500px 500px;
	background-position: 0 -420px;
	background-repeat: no-repeat;
	background: url(/share/image/ico_arrow02.png) top left \9;
}

/* sidebar new */
.sub-content.type01 {
	background: #eaeaea;
	padding: 13px 13px;
}

@media only screen and (max-width: 640px) {
	.conti .sub-content.type01 {display: none; }
}
/* estimate */
.sub-content.type01 .box-estimate {
	background-color: #fff;
	padding: 10px;
	margin-bottom: 13px;
	border-bottom: 2px solid #767676;
}
@media only screen and (max-width: 640px) {
	.sub-content.type01 .box-estimate { display: none; }
}
.sub-content.type01 .box-estimate .title {
	margin-bottom: 3px;
	width: 209px;
	height: 48px;
	background: url(/share/image/ico_sprite01.webp) no-repeat;
	background-position: -50px -250px;
	text-indent: -9999px;
	overflow: hidden;
}
.sub-content.type01 .box-estimate .title02 {
	margin-bottom: 3px;
	text-align: center;
}
.sub-content.type01 .box-estimate .btn {
	width: 201px;
	margin: 0 auto 12px;
}
.sub-content.type01 .box-estimate .btn-type08,
.sub-content.type01 .box-estimate .btn-type10 {
	margin: 0 auto 12px;
}
	.sub-content.type01 .box-estimate .btn-type08.has-line1 a,
	.sub-content.type01 .box-estimate .btn-type09.has-line1 a,
	.sub-content.type01 .box-estimate .btn-type10.has-line1 a {
    padding: 11px 0;
	}
		.sub-content.type01 .box-estimate .btn a {
			display: block;
			height: 74px;
			background: url(/share/image/ico_sprite01.webp) no-repeat;
			background-position: -50px -300px;
			text-indent: -9999px;
			overflow: hidden;
		}
		.sub-content.type01 .box-estimate .btn a:hover { opacity: 0.8;}
	
	.sub-content.type01 .box-estimate .btn-type09 + .list-estimate01,
	.sub-content.type01 .box-estimate .list-estimate01 + .btn-type10 {
    margin-top: 12px;
	}
.sub-content.type01 .box-estimate .list-estimate01 { margin-left: 6px;}
.sub-content.type01 .box-estimate .list-estimate01 li {
	position: relative;
	margin-top: 8px;
	padding-left: 16px;
	font-size: 75%;
}
.sub-content.type01 .box-estimate .list-estimate01 li:before {
	position: absolute;
	top: 50%;
	left: 0;
	content: '';
	margin-top: -4px;
	width: 5px;
	height: 7px;
	background: url(/share/image/ico_sprite01.webp);
	background-size: 500px 500px;
	background-position: 0 -470px;
	background-repeat: no-repeat;
	background: url(/share/image/blt_arrow_01.gif) top left \9;
}
.sub-content.type01 .box-estimate .list-estimate01 li:first-child { margin-top: 0; }

/* �|�C���g */
.sub-content.type01 .list-pickuppoint01 { overflow: hidden; margin: -6px 0 13px 0; }
@media only screen and (max-width: 640px) {
	.sub-content.type01 .list-pickuppoint01 { display: none;}
}
.sub-content.type01 .list-pickuppoint01 li {
	float: left;
	margin-top: 6px;
	width: 111px;
	height: 48px;
	background: url(/share/image/ico_sprite01.webp) no-repeat;
	background-position: -50px -300px;
	text-indent: -9999px;
	overflow: hidden;
}
.sub-content.type01 .list-pickuppoint01 li.list01 { background-position: -48px -375px; }
.sub-content.type01 .list-pickuppoint01 li.list02 { background-position: -160px -375px; }
.sub-content.type01 .list-pickuppoint01 li.list03 { background-position: -48px -424px; }
.sub-content.type01 .list-pickuppoint01 li.list04 { background-position: -160px -424px; }

.sub-content.type01 .list-pickuppoint01 li.list01,
.sub-content.type01 .list-pickuppoint01 li.list03 { margin-right: 7px; }

.sub-content.type01 .text-attention-pickuppoint01 {
	margin: 0 0 13px;
	font-size: 75%;
}

/* LNavi 01 */
.sub-content.type01 .sub-lnavi01 {
	border-bottom: 2px solid #767676;
	margin-bottom: 13px;
}
.sub-content.type01 .sub-lnavi01 .title {
	background: url(/share/image/auto/bg_sub_title_blue01.png) top left repeat;
	border-left: 6px solid #6873c4;
}
.sub-content.type01 .sub-lnavi01 .title a {
	display: block;
	padding: 10px 14px;
	color: #fff;
	font-size: 100%;
	text-decoration: none;
}

.sub-content.type01 .sub-lnavi01 .lnavi01 {}
.sub-content.type01 .sub-lnavi01 .lnavi01 li { border-top: 2px solid #eaeaea; font-size: 100%;}
.sub-content.type01 .sub-lnavi01 .lnavi01 li:first-child { border-top: none;}
.sub-content.type01 .sub-lnavi01 .lnavi01 li a {
	position: relative;
	display: block;
	position: relative;
	background-color: #fff;
	padding: 10px 15px 10px 27px;
	text-decoration: none;
	font-size: 75%;
	font-weight: bold;
}
.sub-content.type01 .sub-lnavi01 .lnavi01 li a:before {
	position: absolute;
	top: 50%;
	left: 10px;
	margin-top: -12px;
	content: '';
	background: url(/share/image/ico_bar_blue01.png) top left no-repeat;
	background-size: 5px 24px;
	width: 5px;
	height: 24px;
}
.sub-content.type01 .sub-lnavi01 .lnavi01 li.current a,
.sub-content.type01 .sub-lnavi01 .lnavi01 li a:hover {
	background-color: #35b0a3;
	color: #fff;
}
.sub-content.type01 .sub-lnavi01 .lnavi01 li.current a:before,
.sub-content.type01 .sub-lnavi01 .lnavi01 li a:hover:before{
	position: absolute;
	top: 50%;
	left: 10px;
	margin-top: -12px;
	content: '';
	background: url(/share/image/ico_bar_green01.png) top left no-repeat;
	background-size: 5px 24px;
	width: 5px;
	height: 24px;
}
.sub-content.type01 .sub-lnavi01 .lnavi01 li .child { display: none;}

.sub-content.type01 .sub-lnavi02 { border-bottom: 2px solid #767676; margin-bottom: 13px;}
.sub-content.type01 .sub-lnavi02 .title {
	padding: 12px 15px 10px;
	background: url(/share/image/bg_lnavi_dot01.png) top left repeat;
	-webkit-background-size: 3px;
	background-size: 3px;
	border-left: 6px solid #2636aa;
	color: #2636aa;
	font-weight: bold;
	font-size: 100%;
}
.sub-content.type01 .sub-lnavi02 .lnavi02 {}
.sub-content.type01 .sub-lnavi02 .lnavi02 li { border-top: 2px solid #eaeaea; font-size: 75%; }
.sub-content.type01 .sub-lnavi02 .lnavi02 li a {
	display: block;
	padding: 11px 14px;
	background-color: #fff;
}
.sub-content.type01 .sub-lnavi02 .lnavi02 li a span {
	position: relative;
	display: block;
	padding-left: 20px;
}
.sub-content.type01 .sub-lnavi02 .lnavi02 li a span:before {
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	width: 5px;
	height: 9px;
	margin-top: -4px;
	background: url(/share/image/ico_sprite01.webp);
	background-size: 250px 250px;
	background-position: 0 -220px;
	background-repeat: no-repeat;
	background: url(/share/image/ico_arrow03_ie8.png) top left \9;
}
/* hover & current */
.sub-content.type01 .sub-lnavi02 .lnavi02 li.current a,
.sub-content.type01 .sub-lnavi02 .lnavi02 li a:hover {
	background-color: #35b0a3;
	color: #fff;
	text-decoration: none;
}
.sub-content.type01 .sub-lnavi02 .lnavi02 li.current a span:before,
.sub-content.type01 .sub-lnavi02 .lnavi02 li a:hover span:before {
	background: url(/share/image/ico_sprite01.webp);
	background-size: 500px 500px;
	background-position: 0 -420px;
	background-repeat: no-repeat;
	background: url(/share/image/ico_arrow02.png) top left \9;
}

/* LNavi 03 */
.sub-content.type01 .sub-lnavi03 {
	border-bottom: 2px solid #767676;
	margin-bottom: 13px;
}
.sub-content.type01 .sub-lnavi03 .title {
	background: url(/share/image/auto/bg_sub_title_blue01.png) top left repeat;
	border-left: 6px solid #6873c4;
}
.sub-content.type01 .sub-lnavi03 .title a {
	display: block;
	padding: 10px 14px;
	color: #fff;
	font-size: 100%;
	text-decoration: none;
}
.sub-content.type01 .sub-lnavi03 .lnavi03 {}
.sub-content.type01 .sub-lnavi03 .lnavi03 li { border-top: 2px solid #eaeaea; font-size: 100%;}
.sub-content.type01 .sub-lnavi03 .lnavi03 > li:first-child { border-top: none;}
.sub-content.type01 .sub-lnavi03 .lnavi03 li a {
	position: relative;
	display: block;
	position: relative;
	background-color: #fff;
	padding: 10px 15px 10px 27px;
	text-decoration: none;
	font-size: 75%;
	font-weight: bold;
}
.sub-content.type01 .sub-lnavi03 .lnavi03 li a:before {
	position: absolute;
	top: 50%;
	left: 10px;
	margin-top: -12px;
	content: '';
	background: url(/share/image/ico_bar_blue01.png) top left no-repeat;
	background-size: 5px 24px;
	width: 5px;
	height: 24px;
}
.sub-content.type01 .sub-lnavi03 .lnavi03 li.current > a,
.sub-content.type01 .sub-lnavi03 .lnavi03 li > a:hover {
	background-color: #35b0a3;
	color: #fff;
}
.sub-content.type01 .sub-lnavi03 .lnavi03 li.current > a:before,
.sub-content.type01 .sub-lnavi03 .lnavi03 li > a:hover:before{
	position: absolute;
	top: 50%;
	left: 10px;
	margin-top: -12px;
	content: '';
	background: url(/share/image/ico_bar_green01.png) top left no-repeat;
	background-size: 5px 24px;
	width: 5px;
	height: 24px;
}

.sub-content.type01 .sub-lnavi03 .lnavi03 li .child { display: none;}
.sub-content.type01 .sub-lnavi03 .lnavi03 li.current .child { display: block; }
.sub-content.type01 .sub-lnavi03 .lnavi03 li .child.current { display: block; }

.sub-content.type01 .sub-lnavi03 .lnavi03 li .child li a:before {
	background: none;
}
.sub-content.type01 .sub-lnavi03 .lnavi03 li .child li a span {
	position: relative;
	display: block;
	padding-left: 20px;
	font-weight: normal;
}
.sub-content.type01 .sub-lnavi03 .lnavi03 li .child li a span:before {
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	width: 5px;
	height: 9px;
	margin-top: -4px;
	background: url(/share/image/ico_sprite01.webp);
	background-size: 250px 250px;
	background-position: 0 -220px;
	background-repeat: no-repeat;
	background: url(/share/image/ico_arrow03_ie8.png) top left \9;
}
/* hover & current */
.sub-content.type01 .sub-lnavi03 .lnavi03 li li.current a,
.sub-content.type01 .sub-lnavi03 .lnavi03 li li a:hover {
	background-color: #35b0a3;
	color: #fff;
	text-decoration: none;
}
.sub-content.type01 .sub-lnavi03 .lnavi03 li li.current a span:before,
.sub-content.type01 .sub-lnavi03 .lnavi03 li li a:hover span:before {
	background: url(/share/image/ico_sprite01.webp);
	background-size: 500px 500px;
	background-position: 0 -420px;
	background-repeat: no-repeat;
	background: url(/share/image/ico_arrow02.png) top left \9;
}

/* FAQ */
.sub-content.type01 .sub-faq01 {
	border-bottom: 2px solid #767676;
	margin-bottom: 13px;
}
.sub-content.type01 .sub-faq01 .title {
	background: url(/share/image/auto/bg_sub_title_blue01.png) top left repeat;
	border-left: 6px solid #6873c4;
	padding: 10px 14px;
	color: #fff;
	font-size: 100%;
}
.sub-content.type01 .sub-faq01 .list-faq01 {
	background-color: #fff;
	padding: 10px 10px 10px 12px;
}
.sub-content.type01 .sub-faq01 .list-faq01 li {
	position: relative;
	padding-left: 15px;
	margin-top: 7px;
	font-size: 75%;
}
.sub-content.type01 .sub-faq01 .list-faq01 li:first-child { margin-top: 0;}
.sub-content.type01 .sub-faq01 .list-faq01 li:before {
	position: absolute;
	content: '';
	top: 0.5em;
	left: 0;
	background: url(/share/image/ico_sprite01.webp);
	background-size: 250px 250px;
	background-position: 0 -220px;
	background-repeat: no-repeat;
	background: url(/share/image/ico_arrow03_ie8.png) top left \9;
	width: 5px;
	height: 9px;
}
.sub-content.type01 .sub-faq01 .list-faq01 li a { display: block; }

.sub-content.type01 .sub-contact01 {
	border-bottom: 2px solid #767676;
	margin-bottom: 13px;
}
.sub-content.type01 .sub-contact01 > .title {
	background: url(/share/image/auto/bg_sub_title_gray01.png) top left repeat;
	border-left: 6px solid #999;
	padding: 10px 14px;
	color: #fff;
	font-size: 100%;
}
.sub-content.type01 .sub-contact01 .innerbox {
	background-color: #fff;
	padding: 0 10px;
}
.sub-content.type01 .sub-contact01 .innerbox .detail {
	padding: 17px 0;
	border-top: 1px solid #ddd;
	text-align: center;
	font-size: 88%;
}
.sub-content.type01 .sub-contact01 .innerbox .detail:first-child { border-top: none; }
.sub-content.type01 .sub-contact01 .innerbox .detail .title,
.sub-content.type01 .sub-contact01 .innerbox .detail .teltitle {
	font-size: 86%;
	margin-bottom: 5px;
}
.sub-content.type01 .sub-contact01 .innerbox .detail .telnumber {
	position: relative;
	font-size: 125%;
	font-weight: bold;
	letter-spacing: 0em;
}
.sub-content.type01 .sub-contact01 .innerbox .detail .telnumber span {
	font-size: 65%;
	font-weight: normal;
}

.sub-content.type01 .sub-contact01 .innerbox .detail .link { margin-bottom: 7px; font-size: 86%;}
.sub-content.type01 .sub-contact01 .innerbox .detail .linkform { font-size: 86%; }
.sub-content.type01 .sub-contact01 .innerbox .detail .linkform a { position: relative; padding-left: 23px;}
.sub-content.type01 .sub-contact01 .innerbox .detail .linkform a:before {
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	margin-top: -7px;
	width: 18px;
	height: 14px;
	background: url(/share/image/ico_sprite01.webp);
	background-size: 500px 500px;
	background-position: -130px 0;
	background-repeat: no-repeat;
}
.sub-content.type01 .sub-contact02 {
	border-bottom: 2px solid #767676;
	margin-bottom: 13px;
}
.sub-content.type01 .sub-contact02 > .title {
	background: url(/share/image/auto/bg_sub_title_green01.png) top left repeat;
	border-left: 6px solid #e4f3f5;
	padding: 10px 14px;
	color: #fff;
	font-size: 100%;
}
.sub-content.type01 .sub-contact02 .innerbox {
	background-color: #fff;
	padding: 0 10px;
}
.sub-content.type01 .sub-contact02 .innerbox .detail {
	padding: 17px 0;
	border-top: 1px solid #ddd;
	text-align: center;
	font-size: 88%;
}
.sub-content.type01 .sub-contact02 .innerbox .detail:first-child { border-top: none; }
.sub-content.type01 .sub-contact02 .innerbox .detail .title,
.sub-content.type01 .sub-contact02 .innerbox .detail .teltitle {
	font-size: 86%;
	margin-bottom: 5px;
}
.sub-content.type01 .sub-contact02 .innerbox .detail .teltxt {
	font-size: 86%;
	margin-bottom: 5px;
}
.sub-content.type01 .sub-contact02 .innerbox .detail .telnumber {
	position: relative;
	font-size: 125%;
	font-weight: bold;
	letter-spacing: 0em;
}
.sub-content.type01 .sub-contact02 .innerbox .detail .telnumber span {
	font-size: 65%;
	font-weight: normal;
}

.sub-content.type01 .sub-contact02 .innerbox .detail .link { margin-bottom: 7px; font-size: 86%;}
.sub-content.type01 .sub-contact02 .innerbox .detail .linkform { font-size: 86%; }
.sub-content.type01 .sub-contact02 .innerbox .detail .linkform a { position: relative; padding-left: 23px;}
.sub-content.type01 .sub-contact02 .innerbox .detail .linkform a:before {
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	margin-top: -7px;
	width: 18px;
	height: 14px;
	background: url(/share/image/ico_sprite01.webp);
	background-size: 500px 500px;
	background-position: -130px 0;
	background-repeat: no-repeat;
}
.sub-content.type01 .sub-contact02 .innerbox .detail .link-lineservice a {
  background-color: #06C755;
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.3;
  border-radius: 4px;
  box-shadow: 0 2px 0 0 #767676;
}
.sub-content.type01 .sub-contact02 .innerbox .detail .link-lineservice a:hover {
  opacity: 0.8;
}


.sub-content.type01 .btn-link01 { border-radius: 4px; box-shadow: 0 2px 0 0 #767676;}
.sub-content.type01 .btn-link01 a {
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 10px 12px 10px 28px;
	max-width: 340px;
	background: #f9f9f9;
	background: -moz-linear-gradient(#f9f9f9 0%, #eeeeee 100%, #207cca 100%, #eeeeee 100%);
	background: -webkit-linear-gradient(#f9f9f9 0%, #eeeeee 100%, #207cca 100%, #eeeeee 100%);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), color-stop(1, #eeeeee), color-stop(1, #207cca), to(#eeeeee));
	background: -o-linear-gradient(#f9f9f9 0%, #eeeeee 100%, #207cca 100%, #eeeeee 100%);
	background: linear-gradient(#f9f9f9 0%, #eeeeee 100%, #207cca 100%, #eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#eeeeee',GradientType=0 );
	border-radius: 4px;
	color: #2636aa;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}
.sub-content.type01 .btn-link01 a:before {
	position: absolute;
	content: '';
	top: 50%;
	margin-top: -5px;
	left: 12px;
	background: url(/share/image/ico_sprite01.webp);
	background-size: 250px 250px;
	background-position: 0 -220px;
	background: url(/share/image/ico_arrow03_ie8.png) top left \9;
	width: 5px;
	height: 9px;
}
.sub-content.type01.type01_02 {
	padding: 0;
	background: transparent;
}
@media only screen and (max-width: 640px) {
	.sub-content.type01.type01_02 {
		padding: 0 10px;
	}
}
.sub-content.type01 .box-search {
	background: #fff9db;
	padding: 13px;
}
@media only screen and (max-width: 640px) {
	.sub-content.type01 .box-search {
		padding: 10px;
	}
}
.sub-content.type01 .box-search-inner {}
.sub-content.type01 .box-search-inner p.txt-faq {
	margin: 0 0 13px;
	padding: 6px;
	background: #fff;
	line-height: 1.67;
}
.sub-content.type01 .module-search {
	margin: 0 0 10px;
}
.sub-content.type01 .module-search h3 {
	margin: 0 0 7px;
	padding: 3px 0 3px 30px;
	background: url(/share/image/inq/ico_search01.png) no-repeat left center;
	-webkit-background-size: 20px 20px;
	background-size: 20px 20px;
	font-size: 14px;
	font-weight: bold;
}
.sub-content.type01 .module-search form {}
.sub-content.type01 .module-search form input[type = 'text'] {
	vertical-align: top;
	-webkit-box-shadow: inset 0px 2px 2px #bdbdbd;
	-moz-box-shadow: inset 0px 2px 2px #bdbdbd;
	box-shadow: inset 0px 2px 2px #bdbdbd;
	width: 174px;
}
@media only screen and (max-width: 640px) {
	.sub-content.type01 .module-search form input[type = 'text'] {
		width: auto;
		height: 33px;
	}
}
.sub-content.type01 .module-search form input[type = 'image'] {
	margin-left: 5px;
	width: 44px;
	height: 21px;
}
@media only screen and (max-width: 640px) {
	.sub-content.type01 .module-search form input[type = 'image'] {
		margin: -1px 0 0 5px;
		width: 60px;
		height: 33px;
	}
}
.sub-content.type01 .link-search {
	margin: 0 0 20px;
}
.sub-content.type01 .link-search .link-search-list {
	margin: 10px 0 0;
	padding: 0 0 0 30px;
	background: no-repeat left center;
	-webkit-background-size: 18px 18px;
	background-size: 18px 18px;

}
.sub-content.type01 .link-search .link-search-list:first-child {margin-top: 0;}
.sub-content.type01 .link-search .link-search-list.question {
	background-image: url(/share/image/inq/ico_question01.png);
}
.sub-content.type01 .link-search .link-search-list.dictionary {
	background-image: url(/share/image/inq/ico_dictionary01.png);
}
.sub-content.type01 .module-faq-links {
	border-bottom: 2px solid #767676;
	padding: 10px 10px 10px 6px;
	background: #fff;
}
.sub-content.type01 .module-faq-links .faq-link {
	margin: 0 0 10px;
	padding: 0 0 0 25px;
}
.sub-content.type01 .faq-telephone .module-faq-links .faq-link {
	background: url(/share/image/inq/ico_question04.png) no-repeat 0 2px;
	-webkit-background-size: 18px 18px;
	background-size: 18px 18px;
}
.sub-content.type01 .faq-watch .module-faq-links .faq-link {
	background: url(/share/image/inq/ico_question03.png) no-repeat 0 2px;
	-webkit-background-size: 18px 18px;
	background-size: 18px 18px;
}
.sub-content.type01 .module-faq-links .faq-link a {
	line-height: 1.57;
}

.sub-content.type01 .faq-telephone {}
.sub-content.type01 .faq-telephone h3 {
	padding: 0 0 0 9px;
	background: url(/share/image/inq/bg_tit02.png) repeat left top;
}
.sub-content.type01 .faq-telephone h3 span {
	display: block;
	padding: 12px 0 12px 30px;
	background: url(/share/image/inq/ico_question02.png) no-repeat left center;
	-webkit-background-size: 24px 24px;
	background-size: 24px 24px;
	color: #fff;
}
.sub-content.type01 .faq-watch {margin-top: 13px;}
.sub-content.type01 .faq-watch h3 {
	padding: 0 0 0 9px;
	background: url(/share/image/inq/bg_tit01.png) repeat left top;
}
.sub-content.type01 .faq-watch h3 span {
	display: block;
	padding: 12px 0 12px 30px;
	background: url(/share/image/inq/ico_question02.png) no-repeat left center;
	-webkit-background-size: 24px 24px;
	background-size: 24px 24px;
	color: #fff;
}
.sub-content.type01 #cms_sub-maintenance-01 {
	margin: 13px 0 0;
	padding: 13px;
	background: #eaeaea;
}
.sub-content.type01 #cms_sub-maintenance-01 .subbox-maintenance-01 {
	padding: 13px;
	background: #fff;
	font-size: 75%;
}
.sub-content.type01 #cms_sub-maintenance-01 .subbox-maintenance-01 .subbox-maintenance-01-inner {}
.sub-content.type01 #cms_sub-maintenance-01 .subbox-maintenance-01 .subbox-maintenance-01-inner h3 {
	font-weight: bold;
}
.sub-content.type01 #cms_sub-maintenance-01 .subbox-maintenance-01 .subbox-maintenance-01-inner p {}
.sub-content.type01 .box-link-btns {
	margin: 13px;
	background: #fff;
}
.sub-content.type01 .box-link-btns .link-btns {}
.sub-content.type01 .box-link-btns .link-btns .link-btn {
	overflow: hidden;
	margin-top: 15px;
	border-radius: 5px;
}
.sub-content.type01 .box-link-btns .link-btns .link-btn:first-child {
	margin-top: 0;
}
.sub-content.type01 .box-link-btns .link-btns .link-btn a {
	display: block;
	padding: 6px;
	background-image: -moz-linear-gradient( 90deg, #2636aa 0%, #4654b7 100%);
	background-image: -webkit-linear-gradient( 90deg, #2636aa 0%, #4654b7 100%);
	background-image: -ms-linear-gradient( 90deg, #2636aa 0%, #4654b7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2636aa', endColorstr='#4654b7',GradientType=0 );
	-webkit-box-shadow: 0 2px 2px #bdbdbd;
	-moz-box-shadow: 0 2px 2px #bdbdbd;
	box-shadow: 0 2px 2px #bdbdbd;
	color: #fff;
	text-decoration: none;
}
.sub-content.type01 .box-link-btns .link-btns .link-btn a:hover {
	background-image: -moz-linear-gradient( -90deg, #2636aa 0%, #4654b7 100%);
	background-image: -webkit-linear-gradient( -90deg, #2636aa 0%, #4654b7 100%);
	background-image: -ms-linear-gradient( -90deg, #2636aa 0%, #4654b7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4654b7', endColorstr='#2636aa',GradientType=0 );
}
.sub-content.type01 .box-link-btns .link-btns .link-btn a span {
	display: block;
	background: url(/share/image/inq/ico_arrR_10x17_02.png) no-repeat left center;
	-webkit-background-size: 4px 8px;
	background-size: 4px 8px;
	text-align: center;
}
/* !module
---------------------------------------------------------- */

fieldset legend {
	display: none; }

/* column */
.mod-column {
	overflow: hidden; }
.mod-column.type01 .col {
	padding: 16px;
	border: 1px solid #ddd;
	border-radius: 4px; }
.mod-column.type01 .col-2 {
	float: left;
	width: 49.5%; }
.mod-column.type01 .col-2:first-child {
	margin-right: .5%; }
.mod-column.type01 .col-2:last-child {
	margin-left: .5%; }
/* search */
.mod-search label {
	display: inline-block; }
.mod-search label.label-search {
	vertical-align: top; }

.search-input {
	position: relative;
	width: 300px;
}
.search-input .title {
	font-size: 12px; }

.search-input .input-text {
	width: 133px;
	height: 22px;
	height: 22px\9;
	line-height: 1.5\9;
	font-size: 14px;
}
.mod-search [type="image"] {
	width: 44px;
	font-size: 0;
}


.mod-needhelp .titlearea {
	overflow: hidden;
	margin-bottom: 26px; }
.mod-needhelp .titlearea > .title {
	float: left;
	width: 180px;
	font-size: 20px;
	font-weight: bold; }
.mod-needhelp .titlearea .mod-search {
	padding-top: 3px;
	overflow: hidden; }

.mod-needhelp .needhelpcontents { overflow: hidden; margin-bottom: 35px;}
.mod-needhelp .needhelpcontents .item { float: left;}
.mod-needhelp .needhelpcontents .item:first-child { width: 180px;}
.mod-needhelp .needhelpcontents .item .title {
	position: relative;
	font-weight: bold;
	padding-left: 10px;
}
.mod-needhelp .needhelpcontents .item .title:before {
	position: absolute;
	top: 50%;
	left: 0;
	content: '';
	margin-top: -4px;
	width: 5px;
	height: 7px;
	background: url(/share/image/ico_sprite01.webp);
	background-size: 500px 500px;
	background-position: 0 -470px;
	background-repeat: no-repeat;
	background: url(/share/image/blt_arrow_01.gif) top left\9;
}
.mod-needhelp .needhelpcontents .item .link {
	padding-left: 15px;
	list-style-type: none;
}

.mod-recommend {}
.mod-recommend > .title {
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
}
.mod-recommend .recommendcontents {}
.mod-recommend .recommendcontents .item {
	float: left;
	width: 48%;
	margin-left: 2%;
	/*	padding: 12px 15px 8px; */
	border: 1px solid #ddd;
	text-align: center;
	/*	min-height: 14em; */
}
.mod-recommend .recommendcontents .item:first-child {margin: 0 2% 0 0; }
.mod-recommend .recommendcontents .item .title { margin-bottom: 6px; font-weight: bold; }
.mod-recommend .recommendcontents .item .title span { display: block; font-size: 75%; }
.mod-recommend .recommendcontents .item .image { margin-bottom: 10px; }
.mod-recommend .recommendcontents .item .caption { font-size: 75%; }
.mod-recommend .recommendcontents a { display: block; padding: 12px 10px; color: #333; text-decoration: none; }
.mod-recommend .recommendcontents a:hover {
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}

/* show & hide */
.sm-hide {}
@media only screen and (max-width: 640px) {
	.sm-hide { display: none;}
}

.sm-show { display: none;}
@media only screen and (max-width: 640px) {
	.sm-show { display: block;}
}


/* ------------------------------------------------------- */
/* !Section
---------------------------------------------------------- */
.section {}
.section:before,
.section:after { content: ''; display: table;}
.section:after { clear: both;}
.section + .section {
	margin-top: 40px;
}
.section > .section {
	margin-top: 40px;
}
.section > .section.mtN {
	margin-top: 0;
}
.section > .section.first {
	margin-top: 0;
}
.section > p,
.section > div p {
	margin-bottom: 1em;
}
/* add 160525 */
@media only screen and (max-width: 640px) {
	.section > p,
	.section > div p {
		margin-bottom: 1em;
		word-break:break-all;
	}
}
.section > p span.red,
.section > div p span.red {
	color: #f00;
}
.section > p strong,
.section > div p strong {
	font-weight: bold;
}
.section > p:last-child,
.section > div p:last-child {
	margin-bottom: 0;
}
.section > .flImgL + div,
.section > .flImgR + div {
	overflow: hidden;
}
.list-sns {}
.list-sns > li {
	float: left;
}
.list-sns > li .social {
	padding-right: 10px;
	font-size: 1px;
}
.list-sns > li #twitter { width: 100px;}
.list-sns > li #pocket { width: 95px;}
/* ------------------------------------------------------- */
/* !Popup Page layout
---------------------------------------------------------- */
#popupPage {
}
#popupPage .container {
	width: 548px;
	margin: 0 auto;
	position: relative;
}
#popupPage .header,
#popupPage .content,
#popupPage .footer {
	width: 548px;
}
@media only screen and (min-width: 641px) {
	#popupPage .container {
		min-width: 548px;
	}
}
@media only screen and (max-width: 640px) {
	#popupPage .header,
	#popupPage .container,
	#popupPage .footer {
		width: 100%;
	}
	#popupPage .content {
		width: 100%;
		padding: 0 10px 10px;
	}
}

#popupPage .pathid-area {
	position: absolute;
	top: 5px;
	left: 0;
}

#popupPage .section h3 {
	font-weight: bold;
}

#popupPage ul.list01,
#popupPage ol.list01 {
	margin-bottom: 1.5em;
}
#popupPage ul.list01 li {
	padding-left: 1em;
	text-indent: -1em;
	word-break:break-all;
}
#popupPage .list01 li {
	margin-top: 5px;
}
#popupPage .list01 li p {
	margin-bottom: 1.5em;
}
#popupPage .list01 li:first-child {
	margin-top: 0;
}
#popupPage .list01 .list01 {
	padding-left: 2em;
}
#popupPage .list01 .list01 li:first-child {
	margin-top: 5px;
}

#popupPage ul.list02,
#popupPage ol.list02 {
	margin-bottom: 1.5em;
}
#popupPage ul.list02 li,
#popupPage ol.list02 li {
	padding: 0 0 0 1.5em;
	position: relative;
	zoom: 1;
}
#popupPage ul.list02 li span,
#popupPage ol.list02 li span{
	position:absolute;
	left:0;
}
#popupPage .list02 li {
	margin-top: 1em;
}
#popupPage .list02 li p {
	margin-bottom: 1.5em;
}
#popupPage .list02 li:first-child {
	margin-top: 0;
}
#popupPage .list02 .list02 {
	padding-left: 2em;
}
#popupPage .list02 .list02 li:first-child {
	margin-top: 5px;
}


#popupPage ul.list03,
#popupPage ol.list03 {
	margin-bottom: 1.5em;
}
#popupPage ul.list03 li,
#popupPage ol.list03 li {
	padding: 0 0 0 1.8em;
	position: relative;
	zoom: 1;
}
#popupPage ul.list03 li span,
#popupPage ol.list03 li span{
	position:absolute;
	left:0;
}
#popupPage .list03 li {
	margin-top: 1em;
}
#popupPage .list03 li p {
	margin-bottom: 1.5em;
}
#popupPage .list03 li:first-child {
	margin-top: 0;
}
#popupPage .list03 .list03 {
	padding-left: 2em;
}
#popupPage .list03 .list03 li:first-child {
	margin-top: 5px;
}


@media only screen and (max-width: 640px) {
	#popupPage .pathid-area {
		display: none;
	}
}

#popupPage #close {
	margin-bottom: 50px;
	padding-right: 32px;
	background: url(/share/image/ico_close01.png) no-repeat right 2px;
	background-size: 20px 20px;
	text-align: right;
}
@media only screen and (max-width: 640px) {
	#popupPage #close {
		margin-right: 10px;
	}
}

#popupPage #back {
	margin-bottom: 50px;
	padding-left: 32px;
	background: url(/share/image/ico_back01.png) no-repeat left 2px;
	background-size: 20px 20px;
	text-align: left;
	float: left;
}
@media only screen and (max-width: 640px) {
	#popupPage #back {
		margin-left: 10px;
	}
}
/* ------------------------------------------------------- */
/* !Popup Page layout /share/doc/nxxxxxxx.html
---------------------------------------------------------- */
/*n0030000*/
#popupPage p.note03{
	margin-top: 1em;
}

#popupPage .detail01{
	display: table;
	width: 548px;
}
#popupPage .detail01 dl{
	margin: 0 auto;
	width: 486px;
}
#popupPage .detail01 dt,
#popupPage .detail01 dd{
	text-align: left ;
	display: table-cell;
}
#popupPage .detail01 dt{
	width: 140px;
}

@media only screen and (max-width: 640px) {
	#popupPage .detail01{
		display: table;
		width: 100%;
	}
	#popupPage .detail01 dl{
		width: 100%;
	}
	#popupPage .detail01 dt,
	#popupPage .detail01 dd{
		text-align: left ;
		display: block;
	}
}
/*n0070000*/
/*  mac */
div.box-contents-07-mac {
	margin: 20px 0 30px;
}
div.box-contents-07-mac div.attention {
	width: 95%;
	margin: 0 auto;
	font-size: 81.25%;
}
div.box-contents-07-mac div.attention div > p {
	margin: 0;
	padding: 12px;
}
div.box-contents-07-mac div.attention .top {
	border-top: 1px solid #4f81bd;
	border-left: 1px solid #4f81bd;
	border-right: 1px solid #4f81bd;
	background: #4f81bd;
	font-weight: bold;
	color: #fff;
}
div.box-contents-07-mac div.attention .top p#mac_top_txt {
	text-align: center;
}
div.box-contents-07-mac div.attention .under {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #fff;
}
div.box-contents-07-mac div.attention .under p#mac_under_txt {}
/*___ box-contents-07-01 ___*/
div.box-contents-07-01 {}
div.box-contents-07-01 h2 {}
div.box-contents-07-01 table {
	margin: 0 auto 30px;
	border-collapse: collapse;
	border: solid 1px #fff;
	width: 96%;
	margin-bottom: 30px;
	font-size: 81.25%;
}
div.box-contents-07-01 table tr{}
div.box-contents-07-01 table tr th{
	padding: 12px;
	border: solid 2px #fff;
	border-bottom: solid 3px #fff;
	width: 50%;
	background: #4f81bd;
	font-weight: bold;
	color: #fff;
}
div.box-contents-07-01 table tr td{
	padding: 12px;
	border: solid 2px #fff;
}
div.box-contents-07-01 table tr td.first{
	background: #c6d9f1;
}
div.box-contents-07-01 table tr td.last{
	background: #dce6f2;
}
/*___ box-contents-07-02 ___*/
div.box-contents-07-02 {}
div.box-contents-07-02 h2 {}
div.box-contents-07-02 table {
	margin: 0 auto 30px;
	border-collapse: collapse;
	border: solid 1px #fff;
	width: 96%;
	margin-bottom: 30px;
	font-size: 75%;
}
div.box-contents-07-02 table tr{}
div.box-contents-07-02 table tr th{
	padding: 12px;
	border: solid 2px #fff;
	border-bottom: solid 3px #fff;
	background: #4f81bd;
	font-weight: bold;
	color: #fff;
}
div.box-contents-07-02 table tr td{
	padding: 12px;
	border: solid 2px #fff;
	background: #dce6f2;
}
div.box-contents-07-02 table tr td.first{
	width: 215px;
	background: #c6d9f1;
}
div.box-contents-07-02 table tr td.first{
	width: 33%;
}
div.box-contents-07-02 p.txt_01 {
	padding: 0 35px;
}
div.box-contents-07-02 p.txt_02 {
	padding: 0 35px;
	text-align: right;
}
@media only screen and (max-width: 640px) {
	div.box-contents-07-02 table tr th:nth-child(2),
	div.box-contents-07-02 table tr td:nth-child(2) {
		display: none;
	}
	div.box-contents-07-02 table tr th:last-child,
	div.box-contents-07-02 table tr td:last-child {
		display: table-cell;
	}
	div.box-contents-07-02 table tr td {
		width: 50%;
	}
	div.box-contents-07-02 table tr td.first {
		width: 50%;
	}
}
/*___ box-contents-07-03 ___*/
div.box-contents-07-03 {}
div.box-contents-07-03 h2 {}
div.box-contents-07-03 table {
	margin: 0 auto 30px;
	border-collapse: collapse;
	border: solid 1px #fff;
	width: 96%;
	font-size: 75%;
}
div.box-contents-07-03 table tr{}
div.box-contents-07-03 table tr th{
	padding: 12px;
	border: solid 2px #fff;
	border-bottom: solid 3px #fff;
	background: #4f81bd;
	font-weight: bold;
	color: #fff;
}
div.box-contents-07-03 table tr td{
	padding: 12px;
	border: solid 2px #fff;
	background: #dce6f2;
	word-break: break-all;
}
div.box-contents-07-03 table tr td.first{
	width: 215px;
	background: #c6d9f1;
}
div.box-contents-07-03 table tr td.first{
	width: 26%;
}
div.box-contents-07-03 table tr td {
	width: 37%;
}
div.box-contents-07-03 p.txt_01 {
	padding: 0 35px;
}
div.box-contents-07-03 p.txt_02 {
	padding: 0 35px;
	text-align: right;
}
@media only screen and (max-width: 640px) {
	div.box-contents-07-03 table tr th:nth-child(2),
	div.box-contents-07-03 table tr td:nth-child(2) {
		display: table-cell;
	}
	div.box-contents-07-03 table tr th:last-child,
	div.box-contents-07-03 table tr td:last-child {
		display: table-cell;
	}
}

/*n0140000*/
.text-end {
	border-bottom: #ccc dashed 1px;
	padding-bottom: 5px;
}

/*___ sp ___*/
p.sp {
	display:none;
}
@media only screen and (max-width: 640px) {
	p.sp {
		display:block;
	}
}

/* ------------------------------------------------------- */
/* !Popup Page layout /auto/solution/asol_xxxx.html
---------------------------------------------------------- */
#popupPage01 {
}
/*#popupPage01 .header,
#popupPage01 .footer {
	width: 100%;
}*/
#popupPage01 .content,
#popupPage01 .main-content,
#popupPage01 .headerInner,
#popupPage01 .footer-bottom-inner {
	width: 670px;
	margin: 0 auto;
}

#popupPage01 .header {
	margin-bottom: 10px;
	width: auto;
	background: #fff url(/share/image/auto/lay-header_pop_bg.gif) repeat-x bottom left;
}
#popupPage01 .header-content {
	background-color: inherit;
}
#popupPage01 .header-main,
#popupPage01 .detailarea {
	display: table;
	width: 100%;
}
#popupPage01 .header-main h1,
#popupPage01 .header-main p,
#popupPage01 .detailarea p {
	display: table-cell;
	vertical-align: middle;
}
#popupPage01 .header-main p,
#popupPage01 .detailarea .btn-close {
	text-align: right;
}
#popupPage01 .btn-close {
	font-size: 75%;
	line-height: 1.2;
}
@media only screen and (max-width: 640px) {
	#popupPage01 .header-main p.btn-close {
		display: none;
	}
}
#popupPage01 .btn-close a {
	display: inline-block;
	padding-left: 13px;
	background: url(/share/image/auto/blt_x_01.gif) no-repeat left center;
}
#popupPage01 .boxPopSol {
}
#popupPage01 .boxPopSol > div {
	overflow: hidden;
}
#popupPage01 .boxPopSol .callList01 {
	margin: 1em 0;
}
#popupPage01 .boxPopSol .box-type05 {
	margin: 1em 0 0;
}
#popupPage01 .footer-bottom {
	padding: 12px 0;
}
#popupPage01 .section:last-child {
	margin-bottom: 40px;
}

@media only screen and (max-width: 640px) {
	#popupPage01 .header,
	#popupPage01 .content,
	#popupPage01 .headerInner,
	#popupPage01 .footer-bottom-inner {
		width: 100%;
	}
	#popupPage01 .main-content {
		width: 100%;
		padding: 0 10px 10px;
	}
	#popupPage01 .header {
		margin-bottom: 0;
		background: none;
		background-color: #fff;
	}
	#popupPage01 .detailarea .btn-close {
		display: none;
	}
}



@media only screen and (max-width: 640px) {
	.singleColumnWrap { padding: 0 10px;}
}

.is-opacity:hover {
	filter: alpha(opacity=80);
	-moz-opacity:0.80;
	opacity:0.80;
}

/* md side-nav style add  160510
 ----------------------------------------- */
.nav-local-inner .list-btn-01 img {
	width: 100%;
}

.nav-local-inner .list-btn-01 li {
	margin-bottom: 10px;
}

.nav-local-inner .image-banner-list img {
	width: 100%;
}

.nav-local-inner .image-banner-list li {
	margin-bottom: 10px;
}

.sub-content.type01.md .sub-lnavi01 .title {
	background: url(/share/image/auto/bg_sub_title_blue01.png) top left repeat;
	border-left: 6px solid #6873c4;
	padding: 10px 14px;
	color: #fff;
	font-size: 16px;
}
/*
 * css sprite
 *
 */
@charset "Shift_JIS";
.sprite_img{background-image:url("/share/image/common/header/css_sprites.webp");}

.logo a{
	width: 136px; height: 37px;
	background: url('/share/image/common/header/css_sprites.webp') -10px -10px;
}
.footer-logo .logo{
	width: 136px; height: 37px;
	background: url('/share/image/common/header/css_sprites.webp') -10px -10px;
}
.goto_top a:before{
	width: 34px; height: 34px;
	content:" ";
	display:block;
	margin:5px auto;
	background: url('/share/image/common/header/css_sprites.webp') -221px -65px;
}
.icon_white_arrow{
	width: 8px; height: 16px;
	background: url('/share/image/common/header/css_sprites.webp') -10px -239px;
}
.icon_gray_arrow{
	width: 5px; height: 9px;
	background: url('/share/image/common/header/css_sprites.webp') -43px -204px;
}
.icon_button_arrow{
	width: 13px; height: 7px;
	background: url('/share/image/common/header/css_sprites.webp') -57px -177px;
}
.icon_note_download:after{
	width: 27px; height: 33px;
	display:block;
	content:" ";
	position:absolute;
	top:8px;
	left:12px;
	background: url('/share/image/common/header/css_sprites.webp') -120px -165px;
}
.icon_note_load:after{
	width: 25px; height: 24px;
	display:block;
	content:" ";
	position:absolute;
	top:14px;
	left:14px;
	background: url('/share/image/common/header/css_sprites.webp') -175px -122px;
}
.icon_note_write:after{
	width: 25px; height: 24px;
	display:block;
	content:" ";
	position:absolute;
	top:14px;
	left:14px;
	background: url('/share/image/common/header/css_sprites.webp') -120px -67px;
}
.icon_note_dentaku:after{
	width: 30px; height: 35px;
	display:block;
	content:" ";
	position:absolute;
	top:10px;
	left:12px;
	background: url('/share/image/common/header/css_sprites.webp') -221px -119px;
}
.mitsumoti_inner .icon_note_dentaku:after{
	top:14px;
	left:14px;
}
.mitsumoti_inner .icon_note_load:before,
.mitsumoti_inner .icon_note_write:before,
.mitsumoti_inner .icon_note_download:before,
.mitsumoti_inner .icon_note_dentaku:before{
	width:60px;
	height:60px;
}

.conversion_human:before,
.icon_note_load:before,
.icon_note_write:before,
.icon_note_download:before,
.icon_note_dentaku:before{
	width:50px;
	height:50px;
	content:" ";
	display:inline-block;
	position:absolute;
	background:#e46e2e;
	top:0;
	left:0;
	border-radius:3px;
}
.conversion_human:before{background:#001a44;}
.conversion_red.icon_note_load:before,
.conversion_red.icon_note_write:before,
.conversion_red.icon_note_download:before,
.conversion_red.icon_note_dentaku:before{
	background:#cc4242;
}
.conversion_human:after{
	display: block;
	content: " ";
	position: absolute;
	top: 18px;
	left: 18px;
	width: 13px;
	height: 15px;
	background: url(/share/image/common/header/css_sprites.webp) -10px -204px;
}

.btn_link:after{
	display:inline-block;
	content:" ";
	width: 8px;
	height: 16px;
	position:absolute;
	top:35%;
	left:20px;
	background: url('/share/image/common/header/css_sprites.webp') -10px -239px;
}

.lefts .btn_link:after{
	display:inline-block;
	content:" ";
	width: 8px;
	height: 16px;
	position:absolute;
	top:17px;
	left:20px;
	transform: rotate( 180deg );
	background: url('/share/image/common/header/css_sprites.webp') -10px -239px;
}
.btn_link:before{
	width:50px;
	content:" ";
	display:inline-block;
	position:absolute;
	background:#6db3d4;
	top:0;
	left:0;
	bottom:0;
	border-radius:3px;
}


.icon_balloon{
	width: 27px; height: 7px;
	background: url('/share/image/common/header/css_sprites.webp') -10px -177px;
}
.icon_mini_human{
	width: 13px; height: 15px;
	background: url('/share/image/common/header/css_sprites.webp') -10px -204px;
}

.navi_auto_off{
	width: 35px; height: 35px;
	background: url('/share/image/common/header/css_sprites.webp') -120px -122px;
}
.navi_auto_on{
	width: 35px; height: 35px;
	background: url('/share/image/common/header/css_sprites.webp') -10px -67px;
}
.navi_iryou_off{
	width: 35px; height: 35px;
	background: url('/share/image/common/header/css_sprites.webp') -221px -10px;
}
.navi_iryou_on{
	width: 35px; height: 35px;
	background: url('/share/image/common/header/css_sprites.webp') -65px -67px;
}
.navi_pet_off{
	width: 35px; height: 35px;
	background: url('/share/image/common/header/css_sprites.webp') -166px -10px;
}
.navi_pet_on{
	width: 35px; height: 35px;
	background: url('/share/image/common/header/css_sprites.webp') -166px -65px;
}
.navi_kasai_off{
	width: 35px; height: 35px;
	background: url('/share/image/common/header/css_sprites.webp') -10px -122px;
}
.navi_kasai_on{
	width: 35px; height: 35px;
	background: url('/share/image/common/header/css_sprites.webp') -65px -122px;
}
.icon_check{position:relative; padding-left:30px !important;}
.icon_check:before{
	content:" ";
	display:inline-block;
	position:absolute;
	width:22px;
	height:22px;
	top:0;
	left:0;
	background: url('/share/image/common/header/css_sprites.webp') -157px -165px;
}

.icon_human_sp,
.icon_search_sp{display:inline-block;}
.icon_human_sp{
	width: 45px; height: 35px;
	background: url('/share/image/common/header/mypage_btn.png') no-repeat;
	background-size:contain;
}
.icon_search_sp{
	width: 20px; height: 20px;
	margin-top:5px;
	background: url('/share/image/common/header/sp_icon_search.png') no-repeat;
	background-size:contain;
}


.icon-balloon_auto,
.icon-balloon_md,
.icon-balloon_fire,
.icon-balloon_travel,
.icon-balloon_pet,
.icon-balloon_auto_on,
.icon-balloon_md_on,
.icon-balloon_fire_on,
.icon-balloon_travel_on,
.icon-balloon_pet_on{
	display:inline-block;
	width:24px;
	height:24px;
	vertical-align:middle;
	margin:0 5px 0 0;

}
.icon-balloon_auto{background: url('/share/image/common/header/css_sprites.webp') -265px -9px;}
.icon-balloon_md{background: url('/share/image/common/header/css_sprites.webp') -265px -42px;}
.icon-balloon_fire{background: url('/share/image/common/header/css_sprites.webp') -265px -77px;}
.icon-balloon_travel{background: url('/share/image/common/header/css_sprites.webp') -265px -114px;}
.icon-balloon_pet{background: url('/share/image/common/header/css_sprites.webp') -265px -148px;}
.icon-balloon_auto_on{background: url('/share/image/common/header/css_sprites.webp') -298px -9px;}
.icon-balloon_md_on{background: url('/share/image/common/header/css_sprites.webp') -298px -42px;}
.icon-balloon_fire_on{background: url('/share/image/common/header/css_sprites.webp') -298px -77px;}
.icon-balloon_travel_on{background: url('/share/image/common/header/css_sprites.webp') -297px -113px;}
.icon-balloon_pet_on{background: url('/share/image/common/header/css_sprites.webp') -298px -148px;}
#service_balloon ul:before{
	content:" ";
	width:19px;
	height:18px;
	display:block;
	position:absolute;
	top:-15px;
	left:70px;
	background: url('/share/image/common/header/css_sprites.webp') -34px -235px;
}
.icon-top_arrow{
	width:24px;
	height:24px;
	display:block;
	margin:10px auto;
	background: url('/share/image/common/header/gototop.png') no-repeat;
	background-size:contain;
}

#cms_rwd-sub-contents-lineservice .title a {
  font-size:15px;
  font-weight:bold;
  letter-spacing:-0.04em;
}


