@charset "Shift_JIS";
/*- parts lists ------------------------------
 + title
 + box
 + grid(row,col)
 + list
--------------------------------------------*/


/*------------------------------------------
	clerfix
--------------------------------------------*/
.grid-row:before,
.grid-row:after,
.list-inline01:before,
.list-inline01:after { content: ''; display: table;}

.grid-row:after,
.list-inline01:after { clear: both;}

/*------------------------------------------
**	title
--------------------------------------------*/

/* title01 */
.title-type01 {
	margin-bottom: 1em;
	font-size: 200%; /* 32px */
	font-weight: bold;
	color: #000;
	word-break: break-all;
}
	.title-type01 .sub-title {
		display: block;
		font-size: 62%;
	}
@media only screen and (max-width: 640px) {
	.title-type01 {
		font-size: 32px;
	}
}

/* title01 (副見出し付き) */

.title-type01.nextTag01 {
	display: inline;
	vertical-align: middle;
}

.titleTagType02 {
	display: inline-block;
	margin: 0 0 0 20px;
	padding: 4px 12px 3px;
	box-shadow: 0 2px 0 0 #767676;
	border-radius: 4px;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.1;
	text-decoration: none;
}
	.titleTagType02 {
		background-color: #02748c;
	}


/* title02 */
.title-type02 {
	position: relative;
	padding: 3px 0 3px 20px;
	margin-bottom: 1em;
	border-bottom: 1px solid #ccc;
	color: #000;
	font-size: 125%;
	font-weight: bold;
}
.title-type02:before {
	position: absolute;
	content: '';
	left: 3px;
	top: 50%;
	margin-top: -13px;
	width: 5px;
	height: 25px;
	background: url(/share/image/bg_title01.png) top left no-repeat;
	background-size: contain;
}
@media only screen and (max-width: 640px) {
	.title-type02 {
		padding-left: 13px;
		font-size: 20px;
	}
	.title-type02:before {
		left: 2px;
		top: 0;
		margin-top: 0.25em;
	}
}


/* add 160517 */

/* title02(強調) */

/* title03 */
.title-type03 {
	position: relative;
	padding-bottom: 4px;
	margin-bottom: 0.5em;
	overflow: hidden;
	border-bottom: 1px dotted #908f8f;
	color: #0091a9;
	font-size: 125%;
	font-weight: bold;
}

	.title-type03.faq {
		margin-bottom: 20px;
	}
@media only screen and (max-width: 640px) {
	.title-type03 {
		padding-bottom: 2px;
		font-size: 20px;
	}
}


/* title03(check Icon) */

/* title04 */
.title-type04 {
	position: relative;
	margin-bottom: 0.8em;
	overflow: hidden;
	font-weight: bold;	
}
	.title-type04 span {
		color: #f00;
	}

@media only screen and (max-width: 640px) {
	.title-type04 {
		font-size: 16px;
	}
}

/* title04(square Icon) */

/* title05 */

/* title06 */

/* title07 */


/* titleNum01 */

/* title05 */

/* title06 */

/* title07 */

/* title08 */

/* title09 */

/* title check */

/*------------------------------------------
**	box
--------------------------------------------*/
/* box01 エメラルドグリーンBOX */
.box-type01 {
	margin-top: 20px;
	padding: 14px 28px;
	background-color: #f0fdff;
	border: 1px solid #97d5db;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
} 
	.box-type01.top { margin-top: 0; }
	.box-type01 h3 { float: left; }
	.box-type01 .list-inline01 { clear: both; }
@media only screen and (max-width: 640px) {
	.box-type01 {
		padding: 16px;	
	}
}
.title-type04 + .box-type01 {
	margin-top: 10px;
}

/* box02 枠無しyellowBOX */
/* box03 */

/* box04 枠無しgreenBOX */
/* box05 */

/* box06 */

/* box border */

/* boxContents01 */

/* summary (まとめ) */
/* box-sammary */
.box-sammary {
	position: relative;
	margin-top: 20px;
	padding-bottom: 2px;
}
	.box-sammary .tit {
		position: relative;
		padding-left: 35px;
		font-size: 20px;
		font-weight: bold;
		color: #2636aa;
		line-height: 32px;
	}
	.box-sammary .tit:before {
		display: inline-block;
		position: absolute;
		left: 0;
		top: 50%;
		content: '';
		width: 26px;
		height: 25px;
		margin-top: -13px;
		background: url("/share/image/ico_sprite01.png");
		background-size: 500px 500px;
		background-position: -40px 0;
		background-repeat: no-repeat;
		background: url("/share/image/ico_point01_ie8.png") top left \9;
	}
	.box-sammary .contentbox {
		margin: 8px 0 10px;
		padding: 20px 20px;
		background-color: #dcf2ff;
	}
	.box-sammary + p {
		margin-top: 1.5em;
	}

/* FAQ */

/* box-comment01 */

/* box-voice01 */

/* box-arrow01 */

/*------------------------------------------
	grid
--------------------------------------------*/
.grid-row { margin: 20px -7px 20px;}
@media only screen and (max-width: 640px) {
	.grid-row { margin: 20px 0 20px;}
}

.grid { float: left; padding: 7px;}
/* 1column */
/* 2column */
.grid-col2 { width: 50%;}
/* 3column */
/* 4column */
/* 9column */
@media only screen and (max-width: 640px) {	
/*	.grid,
	.grid-col3:nth-child(3n) { padding: 0 10%;}*/
	.grid + .grid { margin-top: 18px;}
	.grid-col2 { width: 100%;}
}

/* add 160415 fix 160510 */


/*------------------------------------------
	list
--------------------------------------------*/
/* guide */
.list-inline01 {
	overflow: hidden;
	margin: -4px 0 0 0;
	text-align: left;
}
	.list-inline01 > li {
		position: relative;
		float: left;
		width: 50%;
		margin: 4px 0 0 0;
		padding-left: 11px;
	}
	.list-inline01 > li:before {
		position: absolute;
		content: '';
		top: 0.15em;
		left: 0;
		width: 7px;
		height: 19px;
		margin-top: 0;
		background: url(/share/image/ico_list_arrow01.png) no-repeat 0 0;
		background-size: contain;
	}
	.list-inline01 >li.active:before {
		background-image: url(/share/image/ico_list_arrow01_active.png);
	}

@media only screen and (max-width: 640px) {
.list-inline01 {
	margin: 0 0 0 0;
}
	.list-inline01 > li {
		float: none;
		width: 100%;
		margin: 0 0 0 0;
		background-size: 5px 13px;
		background-position: left 0.3em;
	}
}

/* チェック付きリスト */
.list-check01 { overflow: hidden; }
	.list-check01 > li {
		position: relative;
		margin-top: 3px;
		padding-left: 28px;
		color: #000;
	}
	.list-check01 > li:first-child { margin-top: 0;}
	.list-check01 > li:before {
		display: inline-block;
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		width: 20px;
		height: 22px;
		margin-top: 0;
		background-image: url(/share/image/ico_sprite01.png);
		background-size: 250px 250px;
		background-position: 0 -150px;
		background: url("/share/image/ico_check01_ie8.png")\9;
		background-repeat: no-repeat;
	}
/*	@media only screen and (max-width: 640px) {
	.list-check01 {}
		.list-check01 > li { padding-left: 20px;}
		.list-check01 > li:before {
			top: 0.5em;
			width: 12px;
			height: 13px;
			margin-top: -0.25em;
			background-size: 353px 353px;
			background-position: -14px 0;
		}
}	*/

/* FAQ */

/* add faq swich_s 160510 */
@media only screen and (max-width: 640px) {
/*		.list-question01 > li { padding-left: 20px;}
		.list-question01 > li:before { top: 0; margin-top: 3px;}	*/
}
/* ---------------------------------- */

/* nav-step01 */

/* noticeList */


/* dotList */


/* anchorList */


/* titIcoList01 */

/* callList01 */

/* numList */

/* fileLink */

/* flowList */


/*------------------------------------------
	btn
--------------------------------------------*/
.btn-type01 {
    position: relative;
/*	display: block;*/
	display: table-cell;
	margin: 0 auto;
	padding: 12px 20px;
/*	max-width: 340px;*/
	width: 340px;
	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(#f9f9f9 0%, #eeeeee 100%, #207cca 100%, #eeeeee 100%);
	background: -webkit-linear-gradient(#f9f9f9 0%, #eeeeee 100%, #207cca 100%, #eeeeee 100%);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), color-stop(1, #eeeeee), color-stop(1, #207cca), to(#eeeeee));
	background: -o-linear-gradient(#f9f9f9 0%, #eeeeee 100%, #207cca 100%, #eeeeee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 2px 0 0 #767676;
	border-radius: 5px;
	color: #2636aa;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
}
@media only screen and (max-width: 640px) {
	.btn-type01 {
		display: block;
		margin-top: 10px;
		/*max-width: 100%;*/
		width: 100%;
		box-shadow: 0 1px 0 0 #767676;
	}
}
.btn-type01:hover {
	background: #f9f9f9; /* Old browsers */
	background: -moz-linear-gradient(#eeeeee 0%, #f9f9f9 100%, #eeeeee 100%, #207cca 100%);
	background: -webkit-linear-gradient(#eeeeee 0%, #f9f9f9 100%, #eeeeee 100%, #207cca 100%);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), color-stop(1, #f9f9f9), color-stop(1, #eeeeee), to(#207cca));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee',endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}
.btn-type01:hover,
.btn-type01:active,
.btn-type01:visited { color: #2636aa;}

/* 次へアイコン付き */
.btn-type01.ico-next01 {
	position: relative;
	padding-left: 90px;
	text-align: left;
}
.btn-type01.ico-next01:before {
	position: absolute;
	left: 20px;
	top: 50%;
	margin-top: -12px;
	display: block;
	content: '';
	width: 50px;
	height: 24px;
	background: url(/share/image/ico_sprite01.png);
	background-size: 500px 500px;
	background-position: -70px 0;
	background-repeat: no-repeat;
	background: url(/share/image/ico_next01_ie8.png) left top \9;
}

.btn-type01.ico-arrow01 {
	position: relative;
	padding: 12px 20px 12px 40px;
	text-align: left;
}

.btn-type03 {
	width: 385px;
	margin: 30px auto;
	box-shadow: 0 2px 0 0 #000;
	border-radius: 4px;
}
	.btn-type03 a {
		position: relative;
		display: block;
		background: #fc8923;
		padding: 2px;
		border-radius: 4px;
		color: #fff;
		text-decoration: none;
		font-size: 22px;
		font-weight: bold;
	}
	.btn-type03 a:hover { opacity: 0.8;}
		.btn-type03 a > span {
			display: block;
			border: 1px solid #fff;
			border-radius: 1px;
		}
			.btn-type03 a > span > span {
				position: relative;
				display: inline-block;
				padding: 17px 15px 17px 52px;
				border-radius: 4px;
			}
			.btn-type03 a > span > span:before {
				position: absolute;
				content: '';
				top: 50%;
				left: 15px;
				margin-top: -15px;
				background: url(/share/image/ico_mouse01.png) top left no-repeat;
				background: url(/share/image/ico_mouse01_ie8.png) top left no-repeat\9;
				background-size: 20px 30px;
				width: 20px;
				height: 30px;
			}
		.btn-type03 a .sub-title {
			padding-right: 12px;
			font-weight: normal;
			font-size: 14px;
			vertical-align: middle;
		}

@media only screen and (max-width: 640px) {
	.btn-type03 {
		width: 100%;
		text-align: center;
	}
	.btn-type03 a .sub-title {
		display: block;
		padding-right: 0;
	}
}

/* button04 */

/* button05 */

/* button06 */


/* button07 */
/* button08 */
.btn-type08 {
	width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,.2);
	box-shadow: 0 2px 3px rgba(0,0,0,.2);
	background-color: #ff6f00;
	background-image: -webkit-linear-gradient(bottom, #ef6c00, #ff9034);
	background-image: -moz-linear-gradient(bottom, #ef6c00, #ff9034);
	background-image: -o-linear-gradient(bottom, #ef6c00, #ff9034);
	background-image: -ms-linear-gradient(bottom, #ef6c00, #ff9034);
	background-image: linear-gradient(to top, #ef6c00, #ff9034);
	height: 56px;
	padding: 2px;
}
.btn-type08:hover {
	opacity: 0.8;
}
.btn-type08 a {
	position: relative;
	display: block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid 1px #fedcc0;
	text-align: center;
    min-height: 52px;
}
.btn-type08 span {
	display: inline-block;
	*display: inline;  
    *zoom: 1;
	padding-top: 2px;
	padding-left: 39px;
	color: #fff;
	font-weight: bold;
}
.btn-type08 a:before {
	position: absolute;
	display: inline-block;
	content: '';
	left: 10px;
	top: 50%;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	background-image: url(/share/image/top/ico_sprite01.png);
	background-position: -320px 0;
	background-repeat: no-repeat;
}
/* conti */

/* button09 */
.btn-type09 {
	width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,.2);
	box-shadow: 0 2px 3px rgba(0,0,0,.2);
	background-color: #007cc4;
	background-image: -webkit-linear-gradient(bottom, #004a8b, #007cc4);
	background-image: -moz-linear-gradient(bottom, #004a8b, #007cc4);
	background-image: -o-linear-gradient(bottom, #004a8b, #007cc4);
	background-image: -ms-linear-gradient(bottom, #004a8b, #007cc4);
	background-image: linear-gradient(to top, #004a8b, #007cc4);
	height: 56px;
	padding: 2px;
}
.btn-type09:hover {
	opacity: 0.8;
}
.btn-type09 a {
	position: relative;
	display: block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid 1px #fedcc0;
	text-align: center;
    min-height: 52px;
}
.btn-type09 span {
	display: inline-block;
	*display: inline;  
    *zoom: 1;
	padding-top: 2px;
	padding-left: 39px;
	color: #fff;
	font-weight: bold;
}
.btn-type09 a:before {
	position: absolute;
	display: inline-block;
	content: '';
	left: 10px;
	top: 50%;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	background-image: url(/share/image/top/ico_sprite01.png);
	background-position: -320px 0;
	background-repeat: no-repeat;
}

/* button10 */
.btn-type10 {
	width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,.2);
	box-shadow: 0 2px 3px rgba(0,0,0,.2);
	background-color: #ccc;
	background-image: -webkit-linear-gradient(bottom, #6a6a6a, #7a7a7a);
	background-image: -moz-linear-gradient(bottom, #6a6a6a, #7a7a7a);
	background-image: -o-linear-gradient(bottom, #6a6a6a, #7a7a7a);
	background-image: -ms-linear-gradient(bottom, #6a6a6a, #7a7a7a);
	background-image: linear-gradient(to top, #6a6a6a, #7a7a7a);
	height: 56px;
	padding: 2px;
}
.btn-type10:hover {
	opacity: 0.8;
}
.btn-type10 a {
	position: relative;
	display: block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid 1px #fedcc0;
	text-align: center;
    min-height: 52px;
}
.btn-type10 span {
	display: inline-block;
	*display: inline;  
    *zoom: 1;
	padding-top: 2px;
	padding-left: 39px;
	color: #fff;
	font-weight: bold;
}
.btn-type10 a:before {
	position: absolute;
	display: inline-block;
	content: '';
	left: 10px;
	top: 50%;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	background-image: url(/share/image/top/ico_sprite01.png);
	background-position: -320px 0;
	background-repeat: no-repeat;
}
/* button11 */
/* button12 */
    
/* area-case add 160411 */

/* add 160419 */



/* .mod-float-01 add 160411 */



/* Medical side-nav add 160425
----------------------------------*/


/* Medical add 160413 */

/* add 160419 */

/* Medical add 160420
 ------------------------------- */

/* Medical side-nav add 160420
----------------------------------*/
/* .md add 160510  fix 160511*/
.sub-content.type01.md .sub-contact01 .innerbox .detail:first-child {
    background: url(/share/image/md/common/ico_mail_01.gif) no-repeat;
    background-position: 20px 23px;
}

.sub-content.type01.md .sub-contact01 .innerbox .detail {
    background: url(/share/image/md/common/ico_tel_01.gif) no-repeat;
    background-position: 23px 18px;
}

/* add 1600421 */
.grid .grid-col2 .itemHalf {
    height: 66px;
}

/* inline */
.btn-type01.inline {
	display: table;
	max-width: none;
	padding: 12px 25px 12px 25px;
}

.btn-type01.ico-next01.inline {
	display: table;
	max-width: none;
	padding: 12px 25px 12px 115px;
}
.btn-type01.ico-next01.inline:before { left: 45px;}

.btn-type01.ico-arrow01:before {
	position: absolute;
	left: 20px;
	top: 50%;
	display: inline-block;
	content: "";
	margin-top: -4px;
	border-width: 4px 0 4px 4px;
	border-style: solid;
	border-color: transparent transparent transparent #999;
}

/* 戻る */

/*------------------------------------------
**	Table
--------------------------------------------*/

/*------------------------------------------
**	Icon
--------------------------------------------*/

/* beginner */

/* Beginner */

/* large check */

/* ------------------------------------------------------- */
/* badge
----------------------------------------------------------*/

/* ------------------------------------------------------- */
/* text
----------------------------------------------------------*/

/* anchor */

/* 強調 */

/* 注釈 */


/* ------------------------------------------------------- */
/* Image
----------------------------------------------------------*/
.mod-image {
	text-align: center;
}
/* SP時に可変 */
.mod-image.adjust {}
@media only screen and (max-width: 640px) {
	.mod-image.adjust img { width: 100%; height: auto;}
}

/*------------------------------------------
	Other
--------------------------------------------*/

/*  チェック用CSS  */

/* ------------------------------------------------------- */
/* Tab
----------------------------------------------------------*/
/* add 160523 */
/* ------------------------------------------------------- */
/* modal
----------------------------------------------------------*/
/* backgroundShadow */
/* section-modal */
.section-modal {display: none;}
  .section-modal .area-modal {
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
  }
  .section-modal .area-border {
    border: 1px solid #dddddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 15px;
  }
  @media only screen and (max-width: 640px) {
    .section-modal .area-border {
      padding: 10px;
    }
  }
    .section-modal .area-border > p {
      font-size: 87.5%;
    }
    .section-modal .area-border > p + p {
      margin: 2em 0 0;
    }
    @media only screen and (max-width: 640px) {
      .section-modal .area-border > p + p {
        margin: 1em 0 0;
      }
    }
      .section-modal .area-border > p > strong {
        font-size: 128.5%;
        color: #f87e11;
      }
      .section-modal .area-border > p > strong > span {
        color: #999;
      }
    .section-modal .area-modal h3 {
      padding: 18px 0;
      background: url(/share/image/auto/quote/bg_quote_title_01.png) repeat left top;
      text-align: center;
      font-weight: bold;
      font-size: 112.5%;
    }
    @media only screen and (max-width: 640px) {
      .section-modal .area-modal h3 {
        padding: 9px 0;
        font-size: 12px;
      }
    }
    .section-modal .area-modal .area-btn {
      overflow: hidden;
      padding: 30px 40px;
    }
    @media only screen and (max-width: 640px) {
      .section-modal .area-modal .area-btn {
        padding: 15px 20px;
      }
    }
    .section-modal .area-modal .area-btn.type-full {
      overflow: visible;
      padding: 0;
    }
    @media only screen and (max-width: 640px) {
      .section-modal .area-modal .area-btn.type-full {
        overflow: visible;
        padding: 0;
      }
    }
    .section-modal .area-modal .area-btn .grid-row {
      margin: 0;
    }
    @media only screen and (max-width: 640px) {
      .section-modal .area-modal .area-btn .grid + .grid {
        margin: 0;
      }
    }
      .section-modal .area-modal .area-btn li {
        float: left;
        width: 33%;
        padding: 0 0 0 10px;
      }
      @media only screen and (max-width: 640px) {
        .section-modal .area-modal .area-btn li {
          float: none;
          width: auto;
          padding: 0;
        }
        .section-modal .area-modal .area-btn li + li {
          margin: 5px 0 0;
        }
      }
      .section-modal .area-modal .area-btn.type-full li {
        float: none;
        padding-left: 0;
        width: 100%;
      }
        .section-modal .area-modal .area-btn li .btn-in {
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          -webkit-box-shadow: 0 2px 0 0 #000;
          -moz-box-shadow: 0 2px 0 0 #000;
          box-shadow: 0 2px 0 0 #000;
          padding: 2px;
        }
          .section-modal .area-modal .area-btn li a {
            display: table;
            width: 100%;
            text-decoration: none;
          }
          .section-modal .area-modal .area-btn li .btn-in:hover {
            opacity: 0.7;
          }
            .section-modal .area-modal .area-btn li a span {
              display: table-cell;
              height: 128px;
              vertical-align: middle;
              text-align: center;
              font-size: 100%;
              line-height: 1.5;
            }
            .section-modal .area-modal .area-btn.type-full li a span {
              height: 100px;
            }
            @media only screen and (max-width: 640px) {
              .section-modal .area-modal .area-btn li a span,
              .section-modal .area-modal .area-btn.type-full li a span {
                font-size: 12px;
                height: 50px;
              }
            }
              .section-modal .area-modal .area-btn li a strong {
                font-weight: bold;
                font-size: 125%;
              }
      .section-modal .area-modal .area-btn.type-full + p {
        margin-top: 20px;
      }
      @media only screen and (max-width: 640px) {
        .section-modal .area-modal .area-btn.type-full + p {
          margin-top: 10px;
        }
      }
        .section-modal .area-modal .area-btn li.type01 .btn-in {background: #fb8721;}
          .section-modal .area-modal .area-btn li.type01 .btn-in a {
            border: 1px solid #fff;
            color: #fff;
            -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.2);
            -moz-box-shadow: 0 2px 3px rgba(0,0,0,.2);
            box-shadow: 0 2px 3px rgba(0,0,0,.2);
            background-color: #ff6f00;
            background-image: -webkit-linear-gradient(bottom, #ef6c00, #ff9034);
            background-image: -moz-linear-gradient(bottom, #ef6c00, #ff9034);
            background-image: -o-linear-gradient(bottom, #ef6c00, #ff9034);
            background-image: -ms-linear-gradient(bottom, #ef6c00, #ff9034);
            background-image: linear-gradient(to top, #ef6c00, #ff9034);
          }
        .section-modal .area-modal .area-btn li.type02 .btn-in { background: #efefef;}
          .section-modal .area-modal .area-btn li.type02 .btn-in a {
              border: 1px solid #2636aa;
              background: #efefef;
              color: #2636aa;
          }
    .section-modal .area-modal .ico-close-modal {
      position: absolute;
      right: 12px;
      top: 12px;
    }
    @media only screen and (max-width: 640px) {
      .section-modal .area-modal .ico-close-modal {
        right: 6px;
        top: 6px;
      }
    }
      .section-modal .area-modal .ico-close-modal a {
        display: block;
        width: 30px;
        height: 31px;
        background: url(/share/image/auto/quote/btn_cross_01.png) no-repeat left top;
      }
      .section-modal .area-modal .ico-close-modal a:hover {
        opacity: 0.7;
      }
        .section-modal .area-modal .ico-close-modal a span {display: none;}
  .section-modal .btn-close-modal {
    margin: 20px auto 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 200px;
    background: #efefef;
  }
  @media only screen and (max-width: 640px) {
    .section-modal .btn-close-modal {
      margin: 10px auto 0;
      width: 120px;
    }
  }
    .section-modal .btn-close-modal a {
      display: block;
      line-height: 50px;
      text-decoration: none;
      text-align: center;
      color: #2636aa;
      font-size: 112.5%;
      font-weight: bold;
    }
    .section-modal .btn-close-modal a:hover {
      opacity: 0.7;
    }
    @media only screen and (max-width: 640px) {
      .section-modal .btn-close-modal a {
        line-height: 30px;
        font-size: 12px;
      }
    }

/*--------------------------------------------------
  == .main-content ==
--------------------------------------------------*/
.main-content {
	
}
/* ------------------------------------------------------- */
/* title-normal01
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* title-normal02
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* title-normal03
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* title-normal04
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* title-normal05
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* title-normal06
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* title-normal07
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* title-normal08
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* title-normal09
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* title-normal10
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* title-normal11
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* title-normal12
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* title-normal13
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* title-normal14
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* title-normal15
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* title-normal16
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* title-normal17
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* title-normal18
---------------------------------------------------------- */

/* ------------------------------------------------------- */
/* title-normal19
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* title-normal20
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* title-normal21
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* title-normal22
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* list-normal01
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* list-normal02
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* list-normal03-pc
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* list-normal04
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* list-normal05
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* list-normal06
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* list-normal07
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* list-normal08
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* .list-icon-text01
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-point01
---------------------------------------------------------- */
/* P'Nu */
/* ------------------------------------------------------- */
.only-pc {display:block;}
.only-sp {display:none;}
@media only screen and (max-width:640px) {
.only-pc {display:none;}
.only-sp {display:block;}
}
/* Image
----------------------------------------------------------*/

/* ------------------------------------------------------- */
/* box-normal01
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-normal02
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-normal03
---------------------------------------------------------- */
/* box-normal03 type02
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-normal04
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-normal05
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-normal06
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-normal07
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-normal08
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-normal09
---------------------------------------------------------- */


/* ------------------------------------------------------- */
/* box-normal10
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-normal11
---------------------------------------------------------- */

@media only screen and (max-width: 640px) {
/* ------------------------------------------------------- */
/* box-normal11
---------------------------------------------------------- */
}
/* ------------------------------------------------------- */
/* box-normal12
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-normal13
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-normal14
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-normal15
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-normal17
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-normal19
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-normal20
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-normal21
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-normal22
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-normal23
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-normal24
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-normal25
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-normal26
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-normal27
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-normal28
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-normal29
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-normal30
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-normal31
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-normal32
---------------------------------------------------------- */

/* ------------------------------------------------------- */
/* box-normal33
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-normal34
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* table-normal01
---------------------------------------------------------- */
/* ie 9 hack */
/* ------------------------------------------------------- */
/* table-normal02
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* table-normal03
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* table-normal04
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* table-normal05
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* table-normal06
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* table-normal07
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* table-normal08
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* table-normal09
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* table-normal10
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* table-normal11
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* table-normal12
---------------------------------------------------------- */

/* ------------------------------------------------------- */
/* table-normal13
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* btn-normal08
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* btn-normal09
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* btn-normal10
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* btn-normal07
---------------------------------------------------------- */

/* ------------------------------------------------------- */
/* btn-normal06
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* btn-normal05
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* btn-normal04
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* btn-normal03
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* btn-normal02
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* btn-normal01
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* btn-normal11
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* box-normal16
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* txt-normal01
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* メイン下_保険料（ZiPPi）
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* メイン下_保険料（ZiPPi＋メディコム）
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* メイン下_保険料（SURE）
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* メイン下_保険料（SURE＋メディコム）
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* popup
---------------------------------------------------------- */
/* ------------------------------------------------------- */
/* レイアウト調整用
---------------------------------------------------------- */


