@charset "Shift_JIS";

.btnSingle01 {
	margin-top: 30px;
	padding-bottom: 2px;
}
.btnSingle01 .btn-type01 {
	display: block;
	margin: 0 auto;
}

strong > span { color: #f00; }

.box-contents01 .txt01 { margin-top: 5px;}
.flImgL {
    display: inline;
    float: left;
    margin: 0 20px 1em 0;
}

@media only screen and (max-width: 640px) {
	.flImgL {
		display: block;
		float: none;
		margin: 0 0 1em;
		text-align: center;
	}
	.flImgL.ico {
		display: inline;
		float: left;
		margin: 0 20px 1em 0;
	}
	
	
	.flImgL img {
		width: 100%;
	}
}

.pullDown {
	width: 100%;
	height: 50px;
	margin-top: 15px;
	padding-left: 19px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	border: solid 2px #ddd;
	background-image: -webkit-linear-gradient(bottom, #f5f5f5, #fff);
	background-image: -moz-linear-gradient(bottom, #f5f5f5, #fff);
	background-image: -o-linear-gradient(bottom, #f5f5f5, #fff);
	background-image: -ms-linear-gradient(bottom, #f5f5f5, #fff);
	background-image: linear-gradient(to top, #f5f5f5, #fff);
	font-family: Arial, Helvetica, Verdana, YuGothic , �e���S�V�b�N�f , �eHiragino Kaku Gothic ProN�f , �e�q���M�m�p�S ProN�f , Meiryo , ���C���I , "�l�r �o�S�V�b�N" , "MS PGothic", sans-serif ;
	font-size: 16px; 
	font-weight: bold;
}


/* !display
---------------------------------------------------------- */
.none { display: none; }

.lineBox01 {
	margin-bottom: 10px;
	padding: 10px 15px;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: rgba(204, 204, 204, 0.5) 0px 1px 0px 0px;
	-webkit-box-shadow: rgba(204, 204, 204, 0.5) 0px 1px 0px 0px;
	-moz-box-shadow: rgba(204, 204, 204, 0.5) 0px 1px 0px 0px;
	overflow: hidden;
}
	.lineBox01 > p {
		margin-bottom: 1em;
	}
		.lineBox01 > p:last-child {
			margin-bottom: 0;
		}

.linkList01 {
	overflow: hidden;
}
	.linkList01 li,
	.linkList01 > a {
		position: relative;
		padding: 0 0 5px 10px;
	}
		.linkList01 li:before,
		.linkList01 > a:before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			margin-top: 0.35em;
			width: 5px;
			height: 9px;
			background: url(/share/image/ico_sprite01.png);
			background-size: 250px 250px;
			background-position: 0 -220px;
			background-repeat: no-repeat;
			background: url(/share/image/ico_arrow03_ie8.png) top left \9;
		}
		.linkList01 li:last-child {
			padding-bottom: 0;
		}
			.linkList01 li:last-child:before {
			/*	margin-top: -4px; */
			}
.linkList01.inline li {
	float: left;
	padding-right: 20px;
}

.linkList01 + .mod-image { margin-top: 30px; }

/*___ pgh-guard-01 ___*/

.pgh-guard-01 {
	margin-bottom: 20px;
	font-size: 75%;
	border: 2px solid #97d5db;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background: #f0fdff;
}
	.pgh-guard-01 p {
		padding: 8px 15px;
	}


/*___ contentsBottom01 ___*/

.contentsBottom01 {
	margin-top: 10px;
	overflow: hidden;
	padding-bottom: 1px;
}
	@media only screen and (max-width: 640px) {
		.contentsBottom01 { display: none; }
	}
.contentsBottom01 .left {
	float: left;
	width: 425px;
	padding: 14px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: rgba(204, 204, 204, 0.5) 0px 1px 0px 0px;
	-webkit-box-shadow: rgba(204, 204, 204, 0.5) 0px 1px 0px 0px;
	-moz-box-shadow: rgba(204, 204, 204, 0.5) 0px 1px 0px 0px;
}
	.contentsBottom01 .left .tit01 {
		margin-bottom: 15px;
		text-align: center;
	}
	.contentsBottom01 .left .btn-type03.btn01 {
		margin: 0 auto 15px;
	}
	.contentsBottom01 .linkList01 {
		padding-left: 20px;
		overflow: hidden;
	}
		.contentsBottom01 .linkList01 li {
			float: left;
			margin-right: 1em;
			font-size: 75%;
		}

.contentsBottom01 .right {
	float: right;
	width: 230px;
	border: 1px solid #ccc;
	border-top: none;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: rgba(204, 204, 204, 0.5) 0px 1px 0px 0px;
	-webkit-box-shadow: rgba(204, 204, 204, 0.5) 0px 1px 0px 0px;
	-moz-box-shadow: rgba(204, 204, 204, 0.5) 0px 1px 0px 0px;
}
	.contentsBottom01 .right > .title {
		background: url(/share/image/auto/bg_sub_title_gray01.png) top left repeat;
		padding: 10px 14px;
		border-radius: 4px 4px 0 0;
		-webkit-border-radius: 4px 4px 0 0;
		-moz-border-radius: 4px 4px 0 0;

		color: #fff;
		font-weight: bold;
	}
	.contentsBottom01 .right .innerbox {
		background-color: #fff;
		padding: 0 10px;
		border-radius: 0 0 4px 4px;
		-webkit-border-radius: 0 0 4px 4px;
		-moz-border-radius: 0 0 4px 4px;
	}
		.contentsBottom01 .right .innerbox .detail {
			padding: 17px 0;
			border-top: 1px solid #ddd;
			text-align: center;
			font-size: 14px;
		}
		.contentsBottom01 .right .innerbox .detail:first-child { border-top: none; }
			.contentsBottom01 .right .innerbox .detail .title,
			.contentsBottom01 .right .innerbox .detail .teltitle {
				font-size: 12px;
				margin-bottom: 5px;
			}
			.contentsBottom01 .right .innerbox .detail .telnumber {
				position: relative;
				font-size: 20px;
				font-weight: bold;
				letter-spacing: 0em;
			}
				.contentsBottom01 .right .innerbox .detail .telnumber span {
					font-size: 13px;
					font-weight: normal;
				}

			.contentsBottom01 .right .innerbox .detail .link { margin-bottom: 7px; font-size: 12px;}
			.contentsBottom01 .right .innerbox .detail .linkform { font-size: 12px; }
				.contentsBottom01 .right .innerbox .detail .linkform a { position: relative; padding-left: 23px;}
				.contentsBottom01 .right .innerbox .detail .linkform a:before {
					position: absolute;
					content: '';
					top: 50%;
					left: 0;
					margin-top: -7px;
					width: 18px;
					height: 14px;
					background: url(/share/image/ico_sprite01.png);
					background-size: 500px 500px;
					background-position: -130px 0;
					background-repeat: no-repeat;
				}

 /* troubleNavi */

/* quoteBox */


.contentsNav01 {
	width: 650px;
	margin-right: -10px;
}
.contentsNav01 li.item {
	margin: 0 10px 10px 0;
	padding: 15px 10px;
	float: left;
	width: 315px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	box-shadow: rgba(204, 204, 204, 0.5) 0px 1px 0px 0px;
	-webkit-box-shadow: rgba(204, 204, 204, 0.5) 0px 1px 0px 0px;
	-moz-box-shadow: rgba(204, 204, 204, 0.5) 0px 1px 0px 0px;
	_display: inline; /* for IE6 */
}
	.contentsNav01 li.item.current {
		display: block;
		padding: 14px 9px;
		border: 2px solid #ed2e2e;
	}
	.contentsNav01 li.item .flImgL {
		margin-right: 10px;
	}
	.contentsNav01 li.item .tit01 {
		margin-bottom: 10px;
		font-weight: bold;
	}
	.contentsNav01 li.item div {
		overflow: hidden;
	}
	.contentsNav01 li.item li {
	}
	.contentsNav01 li.item li.current {
		color: #ed2e2e;
		font-size: 100%;
		font-weight: bold;
	}
		.contentsNav01 li.item > a {
			display: block;
			margin: -15px -10px;
			padding: 15px 10px;
			color: #333;
			text-decoration: none;
		}
			.contentsNav01 li.item.current li a { display: inline; padding: 0; color: #00c; text-decoration: underline; }
			.contentsNav01 li.item.current li a:visited { color: #639; }
			.contentsNav01 li.item.current li a:hover,
			.contentsNav01 li.item.current li a:active,
			.contentsNav01 li.item.current li a:focus { text-decoration: none; }


@media only screen and (max-width: 640px) {
	.contentsNav01 {
		margin: 0;
		padding-right: 0;
		width: 100%;
	}
	.contentsNav01 li.item {
		margin-right: 0;
		margin-bottom: 10px;
		padding: 15px 10px;
		float: none;
		width: 100%;
		overflow: hidden;
		text-align: left;
	}
		.contentsNav01 li.item:last-child {
			margin: 0;
		}
		.contentsNav01 li.item .flImgL,
		.contentsNav01 li.item div {
			display: table-cell;
			height: auto;
		}
		.contentsNav01 li.item .flImgL {
			max-width: 40%;
		}
		.contentsNav01 li.item div {
			padding-left: 10px;
		}
		.contentsNav01 li.item .tit01 {
			margin-bottom: 5px;
		}
}

/* agde051.html */

/* acvr */

.pointCvr000 {
	margin-bottom: 20px;
	overflow: hidden;
}
	.pointCvr000 li {
		display: block;
		float: left;
		width: 330px;
		margin-right: 10px;
	}
		.pointCvr000 li:last-child {
			margin-right: 0;
		}
		.pointCvr000 li h3 {
			-webkit-border-radius: 4px 4px 0 0;
			-moz-border-radius: 4px 4px 0 0;
			border-radius: 4px 4px 0 0;
			background: #def2ff;
			color: #02489d;
			font-size: 125%;
			font-weight: bold;
			text-align: center;
			line-height: 2;
		}
		.pointCvr000 li div {
			padding: 10px 15px;
			border: 1px solid rgb(204, 204, 204);
			-webkit-border-radius: 0 0 4px 4px;
			-moz-border-radius: 0 0 4px 4px;
			border-radius: 0 0 4px 4px;
			box-shadow: rgba(204, 204, 204, 0.5) 0px 1px 0px 0px;
			-webkit-box-shadow: rgba(204, 204, 204, 0.5) 0px 1px 0px 0px;
			-moz-box-shadow: rgba(204, 204, 204, 0.5) 0px 1px 0px 0px;
		}
			.pointCvr000 li div span {
				color: #ed2e2e;
				font-weight: bold;
			}
@media only screen and (max-width: 640px) {
	.pointCvr000 li {
		float: none;
		width: 100%;
		margin: 0 0 10px;
	}
}

.listCvr000 {
	margin-right: -10px;
	overflow: hidden;
}
	.listCvr000 .item {
		display: block;
		float: left;
		width: 330px;
		margin: 0 10px 10px 0;
		padding: 15px;
		border: 1px solid rgb(204, 204, 204);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		box-shadow: rgba(204, 204, 204, 0.5) 0px 1px 0px 0px;
		-webkit-box-shadow: rgba(204, 204, 204, 0.5) 0px 1px 0px 0px;
		-moz-box-shadow: rgba(204, 204, 204, 0.5) 0px 1px 0px 0px;
	}
		.listCvr000 .item h3 {
			margin-bottom: 10px;
			font-weight: bold;
		}
		.listCvr000 .item ul {
			overflow: hidden;
		}
@media only screen and (max-width: 640px) {
	.listCvr000 {
		margin-right: 0;
		overflow: hidden;
	}
		.listCvr000 .item {
			display: block;
			float: none;
			width: 100%;
			margin: 0 0 10px;
			padding: 15px;
		}
			.listCvr000 .item:last-child {
				margin-bottom: 0;
			}
			.listCvr000 .item .flImgL {
				float: left;
				margin-right: 10px;
			}
}

.navCvr001 {
	overflow: hidden;
	padding: 0 0 1px 10px;
	margin-right: -10px;
}
	.navCvr001 li {
		display: block;
		width: 210px;
		padding: 15px 10px;
		margin-right: 10px;
		float: left;
		border: 1px solid rgb(204, 204, 204);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		box-shadow: rgba(204, 204, 204, 0.5) 0px 1px 0px 0px;
		-webkit-box-shadow: rgba(204, 204, 204, 0.5) 0px 1px 0px 0px;
		-moz-box-shadow: rgba(204, 204, 204, 0.5) 0px 1px 0px 0px;
	}
		.navCvr001 li .mod-image {
			margin-bottom: 10px;
		}
		.navCvr001 li .linkList01 {
			margin-bottom: 1em;
			text-align: center;
		}
@media only screen and (max-width: 640px) {
.navCvr001 {
	padding: 0 10px 1px;
	margin-right: 0;
}
	.navCvr001 li {
		width: 100%;
		margin-right: 0;
		margin-bottom: 10px;
		float: none;
	}
		.navCvr001 li .mod-image {
			margin-bottom: 10px;
		}
		.navCvr001 li .linkList01 {
			margin-bottom: 1em;
			text-align: center;
		}
}
.typeCvr005 {
	overflow: hidden;
	margin-bottom: 20px;
}
	.typeCvr005 li {
		display: block;
		float: left;
		width: 33.3%;
		padding: 0 10px;
		border-right: 1px solid #ccc;
		text-align: center;
	}
		.typeCvr005 li:last-child {
			border: none;
		}
		.typeCvr005 li dl {
			margin-top: 10px;
		}
		.typeCvr005 li dt {
			font-weight: bold;
		}
@media only screen and (max-width: 640px) {
	.typeCvr005 li {
		float: none;
		width: 100%;
		padding: 0 10px 10px;
		margin-bottom: 10px;
		border-right: none;
		border-bottom: 1px solid #ccc;
		text-align: center;
	}
		.typeCvr005 li:last-child {
			padding-bottom: 0;
			margin-bottom: 0;
		}
}





.boxCvr006 h3 {
	padding: 10px 0;
	color: #0091a9;
	font-size: 125%;
	font-weight: bold;
	line-height: 1.2;
}
	.boxCvr006 p span {
		color: #f00;
	}
@media only screen and (max-width: 640px) {
	.boxCvr006 .img-compensation img {
    max-width: 100%;
    height: auto;
	}
	.boxCvr006 p.text  {		
    text-align: left;
    clear: both;
	}
	
	.boxCvr006 .img-compensation.flImgL {
    width: 50%;
    float: left;
    padding: 0 10px 0 0;
	}
	.boxCvr006 h3.title-type04 {
    font-size: 100%;
	}
}
ul.tile-compensation li.lineBox01 {
	float: left;
	width: 49%;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 4px;
	}
ul.tile-compensation li.lineBox01:last-child {
	margin-left: 2%;
	}
ul.tile-compensation li.lineBox01 img {
	max-width: 100%;
	}
ul.tile-compensation li.lineBox01 .text {
	margin-top: 10px;
	text-align: center;
	font-size: 125%;
	font-weight:  bold;
	color: #0092a8;
	}

@media only screen and (max-width: 640px) {

ul.tile-compensation {
	margin: 0;
	overflow: hidden;
	}

ul.tile-compensation li.lineBox01 {
	overflow: hidden;
	width: 100% !important;
	float: none;
	margin-left: 0;
	margin-bottom: 20px;
	padding: 10px;
	}
ul.tile-compensation li.lineBox01:last-child {
	margin-left: 0;
	}
ul.tile-compensation li.lineBox01 img {
	float: left !important;
	width: 40% !important;
	}
ul.tile-compensation li.lineBox01 .text {
	margin-top: 0;
	padding-left: 45%;
	text-align: left !important;
	min-height:inherit;
	font-size: 100%;
	}
}
div.tile-compensation {
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	}
div.tile-compensation .text {
	margin-top: 10px;
	text-align: center;
	font-size: 125%;
	font-weight: bold;
	color: #0092a8;
	}
@media only screen and (max-width: 640px) {
div.tile-compensation .text {
    text-align: left !important;
    font-size: 100%;
  }
}

.linkGuide110 {
	overflow: hidden;
}
.linkGuide110 li {
	display: block;
	width: 214px;
	float: left;
	margin-right: 14px;
	padding: 15px 19px 19px;
	border: 1px solid #e5d9ae;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	background: #fff8de;
}
	.linkGuide110 li:last-child {
		margin-right: 0;
	}
	.linkGuide110 li h3 {
		font-weight: bold;
		text-align: center;
		margin: 0 -10px 10px;
	}
	.linkGuide110 li p {
		margin-bottom: 1em;
	}
	.linkGuide110 li .btn-type01 {
		padding: 12px 20px 12px 30px;
		text-align: left;
	}
	.linkGuide110 li .btn-type01:before {
		left: 15px;
	}
.linkGuide110.col2 li {
	width: 328px;
}
	.linkGuide110.col2 li .btn-type01 {
		padding: 12px 20px 12px 40px;
		font-size: 100%;
	}
	.linkGuide110.col2 li .btn-type01:before {
		left: 20px;
	}
	
@media only screen and (max-width: 640px) {
.linkGuide110 li,
.linkGuide110.col2 li {
	width: 100%;
	float: none;
	margin: 0 auto 20px;
	padding: 15px 20px 20px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}
	.linkGuide110 li:last-child {
		margin: 0 auto;
	}
	.linkGuide110 li .btn-type01 {
		font-size: 100%;
	}
}

/* agde000 */

.halfBox02 {
	overflow: hidden;
	margin-right: -14px;
	padding-bottom: 1px;
}
	.halfBox02 .itemHalf {
		display: block;
		float: left;
		width: 328px;
		margin: 0 14px 14px 0;
	}
	.halfBox02 h2 {
		position: relative;
		padding-left: 28px;
		margin: 5px 0 10px;
		font-weight: bold;
	}
		.halfBox02 h2:before {
			display: inline-block;
			position: absolute;
			content: '';
			left: 0;
			top: 0;
			width: 20px;
			height: 22px;
			margin-top: 0;
			background-image: url(/share/image/ico_sprite01.png);
			background-size: 250px 250px;
			background-position: 0 -150px;
			background: url("/share/image/ico_check01_ie8.png")\9;
			background-repeat: no-repeat;
		}
	.halfBox02 p {
		margin: 10px 0 5px;
}

@media only screen and (max-width: 640px) {
	.halfBox02 {
		margin-right: 0;
	}
		.halfBox02 .itemHalf {
			display: block;
			float: none;
			width: 100%;
			margin: 0 0 10px;
		}
}

/* agde004 */

/* agde008 */

/* agde009 */

/* agde010 */

/* agde016 */

/* antc001 */

/* rates */

/* arts000.html */


/* arts001.html */

/* arts002.html */

/* arts003.html */

/* arts004.html */

/* rsv */

/* arsv000.html */

/* arsv001.html */

.listRsv001,
.listRsv001 > li {
	overflow: hidden;
}
.listRsv001 {
	margin-right: -14px;
}
	.listRsv001 > li {
		float: left;
		width: 328px;
		margin: 0 14px 30px 0;
	}
		.listRsv001 > li .flImgL {
			margin-right: 15px;
		}
		.listRsv001 li ul {
			overflow: hidden;
		}
@media only screen and (max-width: 640px) {
	.listRsv001 {
		margin-right: 0;
	}
	.listRsv001 > li {
		float: none;
		width: 100%;
		margin: 0 0 30px;
	}
		.listRsv001 > li .flImgL {
			margin-right: 10px;
		}
}

/* arsv002.html */

/* arsv003.html */


/* solution */

/* asol001.html */

/* asol003.html */

/* asol004.html */

/* asol005.html */

/* asol006.html */

/* asol007.html */

/* asol008.html */

/* asol010.html */

/* Smile */

/* agde501.html */

.boxGuide501 {
	margin-top: 10px;
	border: 5px solid #ef6c00;
}
.imgL + .boxGuide501,
.imgR + .boxGuide501 {
	overflow: hidden;
}
	.boxGuide501 .title {
		background-color: #ef6c00;
		padding-bottom: 5px;
		color: #fff;
		font-weight: bold;
	}
/* adge130 - 135 */



/*___ sitemap ___*/

/*___ /auto/benefits/abnf000.html ___*/
/* �ߎ� */
@media screen and (min-width: 641px){
	.flImgL.kashitsu img {
		width: 295px;
}
}
/* -------------------------------
 quote
--------------------------------- */
.quote .content {overflow: visible;}
.quote .section {}
@media screen and (max-width: 640px){
	.quote .section {
		font-size: 16px;
	}
}
.quote .section img {
  max-width: 100%;
}
@media screen and (min-width: 641px) {
  .quote .btn:hover {
		opacity: 0.7;
	}
}
.quote .section-in {}
.quote .area-border {}
/* intro */
/* information */
    /* taboo */
    /* wishes */
    /* faq */
/* quote-contact */

/* quote/index only */
/* aha_1610 */
/* quote/android standard brawser only */

/* agde801 */
/* agde802 */
/* asol014 */
/* quote abtest */
/* artg003 */

.sub-content.type01 .sub-contact02 .innerbox .detail .link-lineservice a {
  background-color: #06C755;
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  line-height: 1.3;
  border-radius: 4px;
  box-shadow: 0 2px 0 0 #767676;
}
.sub-content.type01 .sub-contact02 .innerbox .detail .link-lineservice a:hover {
  opacity: 0.8;
}
  